
.tbl1.v5 tbody td.playerCell{
	padding-top: 3px;
	padding-bottom: 3px;
}
.tbl1.v5 tbody td.playerCell audio{
	display: block;
	min-width: 100px;
	width: 100%;
	height: 35px;
	max-height: 35px;
}

.audioList .itemName{
	max-width: 100px;
	width: 100px;
}
.audioList .surahFName{
	max-width: 100px;
	width: 100px;
}