
/* dl app */
#dlapp{
  padding: 50px 0;
  // margin-top: 90px;
  padding-top: 90px;
  font-size: 1.7em;

  background: linear-gradient(20deg, #00d7dc 0%, #0aa5dc 100%);
  background: -webkit-linear-gradient(45deg, rgba(2, 134, 155, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(2, 134, 155, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background: linear-gradient(45deg, rgba(2, 134, 155, 1) 0%, rgba(51, 51, 51, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02869b', endColorstr='#333333', GradientType=1);
  color: #fff;
  user-select: none;
}

#dlapp h2{
  margin-top: 2em;
}

#dlapp .dl a{
  display: inline-block;
  background-color: #09a9dc;
  border:1px solid #fff;
  border-radius: 0.5rem;
  min-width: 140px;
  max-width: 180px;
  width: 40%;
  margin: 0.5em 5px;
  transition: 0.3s;
}
#dlapp .dl a:hover{
  background-color: #ceb26b;
}
#dlapp .dl a:focus{
  background-color: #bda36d;
}
#dlapp .dl a img{
  display: block;
  width: 100%;
}


#dlapp figure{
  margin-top: -80px;
  margin-bottom: -100px;
}
#dlapp figure img{
  max-width: 425px;
}

