{%extends display.main%}


{%block page%}
<div class="mT50">



<div class="f">
<div class="c2 s12">

  <div class="dcard" >
   <div class="statistic sm teal">
    <div class="label mB10"><i class="fs20 mRa5 sf-users"></i> {%trans "Users"%}</div>
    <div class="value counter">{{sysStatus.user |fitNumber}}</div>
   </div>
  </div>
</div>

<div class="c2 s12">

  <a class="dcard" href="{{url.kingdom}}/a/history">
   <div class="statistic sm teal">
    <div class="label mB10"><i class="fs20 mRa5 sf-history"></i> {%trans "History"%}</div>
    <div class="value counter">{{sysStatus.history |fitNumber}}</div>
   </div>
  </a>
</div>



<div class="c2 s12">

  <a class="dcard" href="{{url.kingdom}}/mag">
   <div class="statistic sm teal">
    <div class="label mB10"><i class="fs20 mRa5 sf-book"></i> {%trans "Magazine"%}</div>
    <div class="value counter">{{sysStatus.post |fitNumber}}</div>
   </div>
  </a>
</div>


<div class="c2 s12">

  <a class="dcard" href="{{url.kingdom}}/lms">
   <div class="statistic sm teal">
    <div class="label mB10"><i class="fs20 mRa5 sf-info"></i> {%trans "Lesson count"%}</div>
    <div class="value counter">{{sysStatus.lms_lesson |fitNumber}}</div>
   </div>
  </a>
</div>

<div class="c2 s12">

  <a class="dcard" href="{{url.kingdom}}/a/khatm">
   <div class="statistic sm teal">
    <div class="label mB10"><i class="fs20 mRa5 sf-bookmark-o"></i> {%trans "Khatm"%}</div>
    <div class="value counter">{{sysStatus.khatm |fitNumber}}</div>
   </div>
  </a>
</div>

<div class="c2 s12">

  <a class="dcard" href="{{url.kingdom}}/a/khatm">
   <div class="statistic sm teal">
    <div class="label mB10"><i class="fs20 mRa5 sf-bookmark"></i> {%trans "Khatm usage"%}</div>
    <div class="value counter">{{sysStatus.khatmusage |fitNumber}}</div>
   </div>
  </a>
</div>


</div>
</div>

{%endblock%}
