{%extends display.admin%}


{%block pageContent%}
<div class='middle normal f justify-center fs12'>

{%if groupList%}
{%for key, value in groupList%}


  <a class="vcard mA10 shadow green" href='{{url.here}}/group?id={{value.id}}'>
    {%if value.file%}
      <img src="{{value.file}}" alt="{{value.title}}">
    {%endif%}
    <div class="content">
      <div class="header">{{value.title}}</div>
    </div>
    <div class="footer">{{value.desc}} | {{value.type_title}}</div>
  </a>
{%endfor%}
{%else%}
<div class="msg fs50 txtC warn">
  {%trans "Group not fount!"%}
</div>
{%endif%}

</div>
{%endblock%}


