{%extends 'content_m/layout.html'%}


{%block pageContent%}

{%include 'content_m/level/pageSteps.html'%}

  <div class="f">
   <div  class="c5 m12 s12">
    {{block('addNewQuestion')}}
   </div>
   <div  class="c7 m12 s12">
    {{block('iListQuestion')}}
   </div>

  </div>
{%endblock%}



{%block addNewQuestion%}
<form method="post"  autocomplete="off">
  <div class="cbox">
    {{block('ititle')}}

    <div class="msg1 pT20">
      {{block('iopts')}}
    </div>

    {%if editMode%}
      <div class="f">
        <div class="c8 s12">
            <button class="btn primary block mT20">{%trans "Update"%}</button>
        </div>
        <div class="c4 s12">
          <a href="{{url.this}}/exam?id={{requestGET.id}}" class="btn block mLa5 secondary mT20">{%trans "Cancel"%}</a>
        </div>
      </div>
    {%else%}
        <button class="btn success block mT20">{%trans "Add"%}</button>
    {%endif%}

  </div>
</form>
{%endblock%}




{% block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" required value="{{questionDataRow.title}}" maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{% endblock %}


{% block iopts %}
<div class="f mB10">
  <label for="iopt1">{%trans "Option 1"%} <small class="fc-red">* {%trans "Require"%}</small></label>
  <div class="c9 pRa10">
    <div class="input">
      <input type="text" name="opt1" value="{{questionDataRow.opt1}}" id="iopt1" required maxlength='150' minlength="1" pattern=".{1,150}">
    </div>
    <div class="input mT5">
      <input type="file" name="opt1file">
    </div>
  </div>

  <div class="c3">
    <div class="radio3">
      <input type="radio" name="trueopt" value="1" id="itrueopt1" {%if questionDataRow.trueopt == 1%} checked {%endif%}>
      <label for="itrueopt1">{%trans "1"%}</label>
    </div>
  </div>
</div>


<div class="f mB10">
  <label for="iopt2">{%trans "Option 2"%} <small class="fc-red">* {%trans "Require"%}</small></label>
  <div class="c9 pRa10">
    <div class="input">
      <input type="text" name="opt2" value="{{questionDataRow.opt2}}" id="iopt2" required maxlength='150' minlength="1" pattern=".{1,150}">
    </div>
    <div class="input mT5">
      <input type="file" name="opt2file">
    </div>
  </div>

  <div class="c3">
    <div class="radio3">
      <input type="radio" name="trueopt" value="2" id="itrueopt2" {%if questionDataRow.trueopt == 2%} checked {%endif%}>
      <label for="itrueopt2">{%trans "2"%}</label>
    </div>
  </div>
</div>


<div class="f mB10">
  <label for="iopt3">{%trans "Option 3"%} <small class="fc-green">{%trans "Optional"%}</small></label>
  <div class="c9 pRa10">
    <div class="input">
      <input type="text" name="opt3" value="{{questionDataRow.opt3}}" id="iopt3" maxlength='150' minlength="1" pattern=".{1,150}">
    </div>
    <div class="input mT5">
      <input type="file" name="opt3file">
    </div>
  </div>

  <div class="c3">
    <div class="radio3">
      <input type="radio" name="trueopt" value="3" id="itrueopt3" {%if questionDataRow.trueopt == 3%} checked {%endif%}>
      <label for="itrueopt3">{%trans "3"%}</label>
    </div>
  </div>
</div>


<div class="f">
  <label for="iopt4">{%trans "Option 4"%} <small class="fc-green">{%trans "Optional"%}</small></label>
  <div class="c9 pRa10">
    <div class="input">
      <input type="text" name="opt4" value="{{questionDataRow.opt4}}" id="iopt4" maxlength='150' minlength="1" pattern=".{1,150}">
    </div>
    <div class="input mT5">
      <input type="file" name="opt4file">
    </div>
  </div>

  <div class="c3">
    <div class="radio3">
      <input type="radio" name="trueopt" value="4" id="itrueopt4" {%if questionDataRow.trueopt == 4%} checked {%endif%}>
      <label for="itrueopt4">{%trans "4"%}</label>
    </div>
  </div>
</div>





{% endblock %}


{%block iListQuestion%}
{%if questionList%}
<div class="tblBox mLa5">
  <table class="tbl1 v1">
    <thead>
      <tr>
        <th colspan="2">{%trans "Questions"%}</th>
      </tr>
    </thead>
  <tbody>
    {%for key, value in questionList%}
    <tr {%if value.id == requestGET.qid%} class="negative" {%endif%}>
      <td>
        <p class="fs12 txtB">{{(loop.index) | fitNumber}}. {{value.title}}</p>

{%if value.opt1 or value.opt1file%}
        <div>{{1 | fitNumber}}. {{value.opt1}} {%if value.opt1file%} <a href="{{value.opt1file}}" target="_blank"><span class="sf-file"></span></a> {%endif%} {%if value.trueopt == 1%}<span class="sf-check fc-green"></span>{%endif%}</div>
{%endif%}

{%if value.opt2 or value.opt2file%}
        <div>{{2 | fitNumber}}. {{value.opt2}} {%if value.opt2file%} <a href="{{value.opt2file}}" target="_blank"><span class="sf-file"></span></a> {%endif%} {%if value.trueopt == 2%}<span class="sf-check fc-green"></span>{%endif%}</div>
{%endif%}

{%if value.opt3 or value.opt3file%}
        <div>{{3 | fitNumber}}. {{value.opt3}} {%if value.opt3file%} <a href="{{value.opt3file}}" target="_blank"><span class="sf-file"></span></a> {%endif%} {%if value.trueopt == 3%}<span class="sf-check fc-green"></span>{%endif%}</div>
{%endif%}

{%if value.opt4 or value.opt4file%}
        <div>{{4 | fitNumber}}. {{value.opt4}} {%if value.opt4file%} <a href="{{value.opt4file}}" target="_blank"><span class="sf-file"></span></a> {%endif%} {%if value.trueopt == 4%}<span class="sf-check fc-green"></span>{%endif%}</div>
{%endif%}
      </td>
      <td class="collapsing">
        {%if value.id != requestGET.qid%}
        <a href="{{url.that}}?id={{requestGET.id}}&qid={{value.id}}" class="btn primary sm">{%trans "Edit"%}</a>
        <span data-confirm data-data='{"ActionType" :"remove", "id" : "{{value.id}}"}' class="btn danger sm">{%trans "Remove"%}</span>
        {%endif%}
      </td>
    </tr>
    {%endfor%}
  </tbody>
  </table>
</div>
{%else%}
<p class="mLa5 fs14 msg warn2">{%trans "No question added"%}</p>

{%endif%}
{%endblock%}




