@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

body {
    @apply bg-black text-white text-sm antialiased font-poppins;
}

body::selection {
    @apply bg-pink-600 text-white;
}

button {
    @apply cursor-pointer;
}

.move-gradient {
    background-image: linear-gradient(to right, var(--color-pink-500), var(--color-pink-300));
    background-size: 200% 100%;
    animation: movegradient 5s infinite;
}

@keyframes movegradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-inner {
    animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
    animation-direction: reverse;
}