{%extends 'content_m/layout.html'%}



{%block pageContent2%}
<div class='middle normal f justify-center'>

  <div class="vcard mA10">
    <img src="{{url.static}}/siftal/images/useful/plus1.png" alt="add new learn">
    <div class="content"></div>
    <div class="footer pAn">
     <a class="btn block primary" href="{{url.this}}/add">{%trans "Add new mistake"%}</a>
    </div>
  </div>
{%for key, value in dataTable%}

{%set cardColor%}
{%if value.status == 'enable'%}green{%else%}black{%endif%}
{%endset%}

  <a class="vcard mA10 shadow {{cardColor}}" href='{{url.here}}/learn?gid={{value.id}}'>
    {%if value.file%}
      <img src="{{value.file}}" alt="{{value.title}}" class="pA10-f">
    {%endif%}
    <div class="content">
      <div class="header">{{value.title}}</div>
      <div class="meta"></div>
      <div class="footer">{{value.desc | slice(0, 70)}} ...</div>
    </div>
  </a>
{%endfor%}

</div>
{%endblock%}













{%block pageContent%}



{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th data-sort="{{sortLink.title.order}}"><a href='{{sortLink.title.link}}'>{%trans "Title"%}</a></th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative' {%else%} class='positive' {%endif%}>
        <td><a href="{{url.this}}/edit?id={{value.id}}"><i class="sf-edit"></i> {{value.title}}</a> <small class="s0">{{value.subtitle}}</small></td>


      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new mistake!"%}</a></p>
{%endblock%}

