{%extends display.main%}


{%block page%}

<div class="mB20">

  <div class="justify-center f txtC">
    <div class="c6">
      {%if tempTicketCodeURL%}
       <div class="msg success2 txtC"><a data-direct href="{{tempTicketCodeURL}}">{%trans "You can access the ticketing status through this link"%}</a></div>
       {%endif%}
      <div class="msg mT20">
        {%trans "You can also contribute to the development of the Salam Quran magazine, Just send us your request"%}
      </div>



    <form method="post" data-clear autocomplete='off'>
     {%include display.hive%}
      <div class="input pA5">
       <label class="addon" for="name">{%trans "Name"%}</label>
       <input type="text" name="name" id="name" value="{{user.displayname}}" placeholder='{%trans "Full Name"%}' maxlength='40'>
      </div>
      <div class="input pA5">
       <label class="addon" for="mobile">{%trans "Mobile"%}</label>
       <input type="tel" name="mobile" id="mobile" value="{{user.mobile}}" placeholder='98 912 333 4444' maxlength="17" autocomplete="off" data-validity='{%trans "Please enter valid mobile number. `:val` is incorrect"%}'>
      </div>
      <div class="input pA5">
       <label class="addon" for="email">{%trans "Email"%}</label>
       <input type="email" name="email" id="email" value="{{user.email}}" placeholder='mail@example.com' maxlength='40'>
      </div>

      <div class="pA5">
       <textarea class="c txt" name="content" placeholder='{%trans "Your Message"%}' rows=7 minlength="5" maxlength="1000" data-resizable></textarea>
      </div>
      <div class="input pA5 mTB25">
       <button type="submit" name="submit-contact" class="btn block success">{%trans "Send"%}</button>
      </div>

     </form>



    </div>
  </div>

</div>
{%endblock%}

