{%include 'content/mag/block-mustReads.html'%}

{%if xAppRequest%}
{%else%}


<section id='dlapp'>
  <div class="cn">
    <div class="f">
      <div class="c6 s12">
        <h2>{%trans "Salam Quran App"%}</h2>
        <p>{%trans "#1 Quran app on the plant"%}</p>

        <div class="dl">
{%if false%}
          <a href="https://play.google.com/store/apps/details?id=com.ermile.salamquran" target="_blank">
            <img src="{{url.siftal}}/images/dl/app-dl-fa-googleplay.png" alt='{%trans "Download SalamQuran app from google play"%}'>
          </a>
{%endif%}
          <a href="{{url.base}}/app" title='{%trans "Direct download SalamQuran android app"%}' data-direct>
            <img src="{{url.siftal}}/images/dl/app-dl-fa-direct.png" alt='{%trans "Direct download SalamQuran android app"%}'>
          </a>
        </div>
      </div>
      <div class="c6 s12">
        <figure>
          <img src="{{url.static}}/images/app/salamquran-app-v2.png" alt='{%trans "SalamQuran App"%}'>
        </figure>
      </div>
    </div>
  </div>
</section>

{%include 'content/home/homepage-statistics2.html'%}

<footer id="footer">
  <div class="cn">
    <a class="logo" href="{{url.kingdom}}">
      <img src="{{url.static}}/images/logo/salamquran.png" alt="{{site.title}}">
      <h1>{{site.title}}</h1>
      <p>{{site.desc}}</p>
    </a>

    <div class="f footerNav">

      <nav class="c s6">
        <a href="{{url.kingdom}}/about">{%trans "About"%} {{site.title}}</a>
        <a href="{{url.kingdom}}/mission">{%trans "Mission"%}</a>
        <a href="{{url.kingdom}}/vision">{%trans "Vision"%}</a>
        <a href="{{url.kingdom}}/terms">{%trans "Terms of Use"%}</a>
        <a href="{{url.kingdom}}/privacy">{%trans "Privacy Policy"%}</a>
        <a href="{{url.kingdom}}/changelog">{%trans "Change log"%}</a>
        <a href="{{url.kingdom}}/logo">{%trans "Logo"%}</a>
      </nav>

      <nav class="c s6">
        <a href="{{url.kingdom}}/audio">{%trans "Audio"%}</a>
        <a href="{{url.kingdom}}/mag">{%trans "Magazine"%}</a>
        <a href="{{url.kingdom}}/support" data-direct>{%trans "Help Center"%}</a>
        <a href="{{url.kingdom}}/support/faq" data-direct>{%trans "FAQ"%}</a>
        <a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a>
        <a href="{{url.kingdom}}/contribution">{%trans "Contribution"%}</a>
        <a href="{{url.kingdom}}/badge">{%trans "Badge list"%}</a>
      </nav>

      <nav class="c s6">
        <a href="{{url.kingdom}}/donate">{%trans "Donate"%}</a>
{%if false%}
        <a href="{{url.kingdom}}/advice">{%trans "Learn Advice"%}</a>
{%endif%}
        <a href="{{url.kingdom}}/today/aya">{%trans "Aye of the day"%}</a>
        <a href="{{url.kingdom}}/random/aya">{%trans "Random aye"%}</a>
        <a href="{{url.kingdom}}/today/page">{%trans "Page of the day"%}</a>
        <a href="{{url.kingdom}}/random/page">{%trans "Random Page"%}</a>
        <a href="{{url.kingdom}}/score">{%trans "User score list"%}</a>
      </nav>

      <nav class="c s6">
        <a href="{{url.kingdom}}/api/v6/doc" data-direct>{%trans "API"%}</a>
        <a href="{{url.kingdom}}/developers">{%trans "Developers"%}</a>
        <a href="https://status.ermile.com" target="_blank"> {%trans "System Status"%}</a>
        <a href="{{url.kingdom}}/telegram">{%trans "Telegram Bot"%}</a>
        <a href="{{url.kingdom}}/apps">{%trans "Mobile Apps"%}</a>
      </nav>

      <nav class="c3 s12">
{%if lang.current == "fa"%}
        <a class="txtLa" href="mailto:info@ermile.com"><i class="compact mRa10 sf-envelope"></i><span class="s0">{%trans "Email"%}</span><span class="txtB floatRa">info@ermile.com</span></a>
        <a class="txtLa" href="tel:00982536505460"><i class="compact mRa10 sf-phone"></i><span class="s0">{%trans "Tel"%}</span><span class="txtB floatRa">{{"025-3650-5460" | fitNumber(false)}}</span></a>
        <a class="txtLa" href="sms:009810006660066600"><i class="compact mRa10 sf-commenting-o"></i><span class="s0">{%trans "SMS"%}</span><span class="txtB floatRa">{{"10006660066600" | fitNumber(false)}}</span></a>
{%else%}
        <a class="txtLa" href="{{url.kingdom}}"><i class="compact mRa10 sf-envelope"></i><span class="s0">{%trans "Website"%}</span><span class="txtB floatRa">{{url.base}}</span></a>
        <a class="txtLa" href="mailto:info@ermile.com"><i class="compact mRa10 sf-envelope"></i><span class="s0">{%trans "Email"%}</span><span class="txtB floatRa">info@ermile.com</span></a>
        <a class="txtLa" href="tel:00982536505460"><i class="compact mRa10 sf-phone"></i><span class="s0">{%trans "Tel"%}</span><span class="txtB floatRa">{{"0098-025-3650-5460" | fitNumber(false)}}</span></a>
{%endif%}

{%if login.id%}
        <a data-direct href="{{url.kingdom}}/a">{%trans "Enter to Panel"%}</a>
{%else%}
        <a data-direct href="{{url.kingdom}}/enter" >{%trans "Enter"%}</a>
{%endif%}
      </nav>

      <div class="cauto s12">
        {{langList({'html':true, 'all': true}) | raw}}
      </div>
    </div>

{%if lang.current =='fa'%}
      <nav class="c12 txtC">
        <div class="certification">
         <div class="f">
          <div title='{%trans "Iran NSR Certification"%}'><a target="_blank" href="http://qom.irannsr.org/index.php?module=cdk&func=loadmodule&system=cdk&sismodule=user/content_view.php&cnt_id=225820&ctp_id=61&id=17394&sisOp=view"><img src="{{url.static}}/siftal/images/cert/irannsr.png" alt='{%trans "Iran NSR"%} {{site.title}}'></a></div>

          {%if false%}
          <div title='{%trans "Enamad Certification"%}'><img src="{{url.static}}/siftal/images/cert/enamad1.png" alt='{%trans "Enamad"%} {{site.title}}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=123475&p=60zqYj8fcWOCqA7J", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")'></div>
          {%endif%}


          <div title='{%trans "Samandehi Certification"%}'><img src="{{url.static}}/siftal/images/cert/samandehi.png" alt='{%trans "Samandehi"%} {{site.title}}' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=145576&p=rfthaodsdshwdshwjyoegvka", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630")'></div>

          <div title='{%trans "Shamad Certification"%}'><img src="{{url.static}}/siftal/images/cert/shamad.png" alt='{%trans "Shamad"%} {{site.title}}' onclick='window.open("https://logo.saramad.ir/verify.aspx?CodeShamad=1-2-709257-65-0-5", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=500, height=700, top=0")'></div>
         </div>
        </div>
     </nav>
{%endif%}


    <div class="f" id='copyright'>
      <div class="c">
        {{page.copyright | raw}}
      </div>
      <div class="cauto os s12 txtRa" id='ermile'><a href="https://ermile.com" target='_blank' title='{%trans "Software Solution Designer"%}'>{%trans "Developed by Ermile"%}</a></div>
    </div>

  </div>
</footer>
<div id="nodes"></div>
{%endif%}
