{%if xAppRequest%}
{%else%}

  <header id="header" data-scroll>
    <div class="cn">
      <nav class="f topnav">
        <div class="c">
          <a href="{{url.kingdom}}" title='{{site.desc}}'>
            <img src="{{url.static}}/images/logo/salamquran.png" alt="{{site.title}}">
            <h2 class="pageTitle" data-xhr='pageTitle'>{{page.title}}</h2>
          </a>
        </div>
        <div class="cauto os links txtRa">
          <a href="{{url.kingdom}}/nav">{%trans "Quran"%}</a>
          <a href="{{url.kingdom}}/mag">{%trans "Magazine"%}</a>
          <a href="{{url.kingdom}}/audio">{%trans "Audio"%}</a>
          <a href="{{url.kingdom}}/lms" data-direct>{%trans "Learning mechanism"%}</a>
{%if login.id%}
          <a class="special" data-direct href="{{url.kingdom}}/a">{%trans "Panel"%}</a>
{%else%}
          <a class="special" data-direct href="{{url.kingdom}}/enter" title='{%trans "Enter to your account and use SalamQuran account features"%}'>{%trans "Enter"%}</a>
{%endif%}
          <div class='sidenavHandler'><span></span></div>
        </div>
      </nav>
{%block pageTitle%}
      <section class='topTitle'>
        <h2>{%trans "The Holy Quran"%}</h2>
        <h3>{{site.desc}}</h3>
      </section>
{%endblock%}
    </div>
  </header>
{%endif%}
