
<aside id="sidebar">
  <nav class="always">
    <div class="top">
      <a href="{{url.kingdom}}" title='{%trans "Homepage"%}'{%if url.pwd == url.kingdom ~ "/"%} class='active'{%endif%}><span class="sf-home"></span><span class="hide">{%trans "Homepage"%}</span></a>
{{langList({'html':true, 'class':'compact', 'all':true}) | raw}}

    </div>

    <footer>
{%if social.github%}
    <a target='_blank' href="https://github.com/{{social.github}}" class="sf-github" title='{%trans "github"%}'><span class="hide">{{site.title}} github</span></a>
{%endif%}
{%if social.twitter%}
    <a target='_blank' href="https://twitter.com/{{social.twitter}}" class="sf-twitter" title='{%trans "Twitter"%}'><span class="hide">{{site.title}} twitter</span></a>
{%endif%}
{%if social.facebook%}
    <a target='_blank' href="https://www.facebook.com/{{social.facebook}}" class="sf-facebook-official" title='{%trans "Facebook"%}'><span class="hide">{{site.title}} facebook</span></a>
{%endif%}
{%if social.telegram%}
    <a target='_blank' href="https://t.me/{{social.telegram}}" class="sf-paper-plane" title='{%trans "Telegram"%}'><span class="hide">{{site.title}} telegram</span></a>
{%endif%}
{%if social.instagram%}
    <a target='_blank' href="https://instagram.com/{{social.instagram}}" class="sf-instagram" title='{%trans "Instagram"%}'><span class="hide">{{site.title}} instagram</span></a>
{%endif%}
{%if social.linkedin%}
    <a target='_blank' href="https://www.linkedin.com/{{social.linkedin}}" class="sf-linkedin" title='{%trans "Linkedin"%}'><span class="hide">{{site.title}} linkedin</span></a>
{%endif%}

    </footer>
  </nav>
  <div class="menu">
    <nav>
      <a href="{{url.kingdom}}"><span class="compact pRa10 sf-home"></span>{{site.title}}</a>
      <a href="{{url.kingdom}}/donate"><span class="compact pRa10 sf-heart"></span>{%trans "Donate"%}</a>
      <a href="{{url.kingdom}}/mag"><span class="compact pRa10 sf-book"></span>{%trans "Magazine"%}</a>
      <a href="{{url.kingdom}}/nav"><span class="compact pRa10 sf-star"></span>{%trans "Quran Navigation"%}</a>
      <a href="{{url.kingdom}}/audio"><span class="compact pRa10 sf-microphone"></span>{%trans "Audio"%}</a>
      <a href="{{url.kingdom}}/lms" data-direct><span class="compact pRa10 sf-graduation-cap-1"></span>{%trans "Learning mechanism"%}</a>

{%if login.id%}
          <a class="special" data-direct href="{{url.kingdom}}/a"><span class="compact pRa10 sf-diamond"></span>{%trans "Panel"%}</a>
{%else%}
          <a class="special" data-direct href="{{url.kingdom}}/enter"><span class="compact pRa10 sf-enter"></span>{%trans "Enter"%}</a>
{%endif%}

    </nav>
{{langList({'html':true, 'all': true}) | raw}}
  </div>
</aside>
