{%if false%}
<div class="f">

  <div class="c s6">
    <a class="dcard {%if url.child == 'add' %}active{%endif%}" href='{{url.this}}/add'>
     <div class="statistic blue">
      <div class="value"><i class="sf-plus"></i></div>
      <div class="label">{%trans "Add new khatm"%}</div>
     </div>
    </a>
   </div>


   <div class="c s6">
    <a class="dcard {%if requestGET.user == 'my' %}active{%endif%}" href='{{url.this}}?user=my'>
     <div class="statistic blue">
      <div class="value"><i class="sf-user-5"></i></div>
      <div class="label">{%trans "My khatm"%}</div>
     </div>
    </a>
   </div>


   <div class="c s6">
    <a class="dcard {%if not url.child and not requestGET %}active{%endif%}" href='{{url.this}}'>
     <div class="statistic blue">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "All"%}</div>
     </div>
    </a>
   </div>

</div>
{%endif%}