{%extends 'content_m/layout.html'%}

{%block pageContent%}
  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
     {{block('iGroup')}}
     {{block('ititle')}}
     {{block('iTypeList')}}
     {{block('iadd')}}
    </div>
   </form>
  </div>
{%endblock%}





{% block iTypeList %}


<label for="itype">{%trans "Type"%} <small class="fc-red">* {%trans "Require"%}</small></label>

<select name="type" class="mB10 select ui dropdown search" id="itype">
  <option value="" readonly>{%trans "Please select one item"%} *</option>
  {%for key, value in typeList%}
    <option value="{{key}}" {%if key == dataRow.type %} selected {%endif%}>{{value.title}}</option>
  {%endfor%}
</select>

{% endblock %}



{% block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Level title"%} *' value="{{dataRow.title}}" autofocus required maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{% endblock %}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}






{% block iGroup %}
{%if lmGroupList | length == 1%}

<label for="lm_group_id">{%trans "Group"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="hidden" name="lm_group_id" value="{{lmGroupList[0]['id']}}">
  <input type="text"  id="lm_group_id" disabled class="disabled" placeholder='{%trans "Group title"%}' value="{{lmGroupList[0]['title']}}" >
</div>

{%elseif lmGroupList | length == 0%}

<div class="msg warn2">
  {%trans "No active group found!"%} <a href="{{url.here}}/group/add">{%trans "Add new group"%}</a>
</div>

{%else%}

<label for="course">{%trans "Group"%} <small class="fc-red">* {%trans "Require"%}</small></label>

<select name="lm_group_id" class="mB10 select ui dropdown search" id="course">
  <option value="" readonly>{%trans "Please select one item"%} *</option>
  {%for key, value in lmGroupList%}
    <option value="{{value.id}}" {%if value.id == requestGET.groupid %} selected {%endif%}>{{value.title}}</option>
  {%endfor%}
</select>

{%endif%}
{% endblock %}
