<!-- Post Nav -->
{%- if config.extra.invert_page_navigation %}
  {%- set prev_page = page.higher %}
  {%- set next_page = page.lower %}
{%- else %}
  {%- set prev_page = page.lower %}
  {%- set next_page = page.higher %}
{%- endif %}
<nav class="block-bg mt-12 flex flex-wrap rounded-lg text-lg">
  {%- if prev_page %}
  <a
    class="block-hover-mask flex min-w-[50%] grow items-center rounded-l-md p-6 pr-3 font-semibold no-underline"
    href="{{ m_url::rel(there=prev_page.permalink, here=g_here, base=g_base) }}" accesskey=","
    ><span class="mr-1.5">&#8249;</span><span>{{ prev_page.title }}</span></a>
  {%- endif %}
  {%- if next_page %}
  <a
    class="block-hover-mask ml-auto flex min-w-[50%] grow items-center justify-end rounded-r-md p-6 pl-3 font-semibold no-underline"
    href="{{ m_url::rel(there=next_page.permalink, here=g_here, base=g_base) }}" accesskey="."
    ><span>{{ next_page.title }}</span><span class="ml-1.5">&#8250;</span></a>
  {%- endif %}
</nav>
