
<nav class="f align-center quranNav">
  <div class="c sauto os txtR">
{%if quranLoaded.detail.prev%}
    <a class="btn outline" href="{{quranLoaded.detail.prev.url}}">
      <i class="compact mL5 sf-chevron-right"></i>
      <span class="s0">{{quranLoaded.detail.prev.title}}</span>
      <span class="badge mLR5">{{quranLoaded.detail.prev.index | fitNumber}}</span>
      <span class="s0">{{quranLoaded.detail.prev.subtitle}}</span>
    </a>
{%endif%}
  </div>

  <div class="c">
{%if navPosition == 'top'%}
    {%if false%}<a class="link compact" href="{{url.pwd}}"><span class="floatR icon-surah"></span> <span class="floatR icon-surah{{quranLoaded.detail.index}}"></span></a>{%endif%}

{%elseif navPosition == 'bottom'%}
    <a class="btn outline" href="{{quranLoaded.detail.beginning.link}}#iqra">
      <span class="compact mRa5 sf-eject"></span>
      <span class="s0">{{quranLoaded.detail.beginning.title}}</span>
    </a>
    <a href='{{url.kingdom}}' class="btn outline">
      <span class="compact mRa5 sf-level-up"></span>
      <span class="s0">{%trans "Back to list of suras"%}</span>
    </a>
{%endif%}
  </div>

  <div class="c sauto txtL">
{%if quranLoaded.detail.next%}
    <a class="btn outline audioNextPage" href="{{quranLoaded.detail.next.url}}" data-autoNext='{{quranLoaded.detail.nextAuto.url}}'>
      <span class="s0">{{quranLoaded.detail.next.title}}</span>
      <span class="badge mLR5">{{quranLoaded.detail.next.index | fitNumber}}</span>
      <span class="s0">{{quranLoaded.detail.next.subtitle}}</span>
      <i class="compact mL5 sf-chevron-left"></i>
    </a>
{%endif%}
  </div>
</nav>

<div class="f align-center msg shareLine">
{%if dl.pageImage%}
  <nav class="cauto pRa10">
    <a class="btn outline" target="_blank" href="{{dl.pageImage}}">{{dl.pageTitle}}</a>
  </nav>
{%endif%}
  <div class="c">
{%include 'content/template/shareBox.html'%}
  </div>
</div>


{%include 'content/home/blocks/block-mag-list.html'%}