{%if pageStyle == 'uthmani'%}
{%if myWord.char_type == 'end'%}
        <i data-i='{{myWord.index}}' class='ayeNum' title='{{myWord.verse_title}}'{%if myWord.audio%} data-qiraat='{{myWord.audio}}'{%endif%}>{{myWord.code | raw}}</i>
{%elseif myWord.char_type == 'word'%}
        <i data-i='{{myWord.index}}' id='w{{myWord.audio_key}}' {%if requestGET.wbwt%} title='{{myWord.translation}}'{%endif%}>{{myWord.code | raw}}</i>
{%else%}
        <i data-i='{{myWord.index}}'>{{myWord.code | raw}}</i>
{%endif%}
{%else%}
{%if myWord.char_type == 'end'%}
        <i data-i='{{myWord.index}}' class='ayeNum' title='{{myWord.verse_title}}'{%if myWord.audio%} data-qiraat='{{myWord.audio}}'{%endif%}>﴿{{myWord.aya | fitNumber}}﴾</i>
{%elseif myWord.char_type == 'word'%}
        <i data-i='{{myWord.index}}' id='w{{myWord.audio_key}}' {%if requestGET.wbwt%} title='{{myWord.translation}}'{%endif%}>{{myWord.text}}</i>
{%else%}
        <i data-i='{{myWord.index}}'>{{myWord.text}}</i>
{%endif%}
{%endif%}