{%extends 'content_a/layout.html'%}












{%block pageContent%}



{%if dataTable%}
 {%if dataFilter%}


  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}


  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}


  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
          <th>{%trans "ID"%}</th>
          <th>{%trans "Group"%}</th>
          <th>{%trans "Level"%}</th>
          <th>{%trans "User"%}</th>
          <th>{%trans "Operator"%}</th>
          <th>{%trans "Audio file"%}</th>
          <th>{%trans "Answer"%}</th>

          <th>{%trans "Quality"%}</th>
          <th>{%trans "Status"%}</th>
          <th>{%trans "Date"%}</th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative' {%else%} class='positive' {%endif%}>
        <td><a href="{{url.this}}/view?id={{value.id}}"><span class="badge">{{value.id}}</span></a></td>
        <td>{{value.group_title}}</td>
        <td>{{value.level_title}}</td>
        <td>{{value.user_displayname}}</td>
        <td>{{value.teacher_displayname}}</td>
        <td><a href="{{value.audio}}" data-direct target="_blank" class="btn"><i class="sf-bullhorn"></i></a></td>
        <td>{{value.teachertxt}}
          {%if value.teacheraudio%}
            <a href="{{value.teacheraudio}}" data-direct target="_blank" class="btn"><i class="sf-bullhorn"></i></a>
          {%endif%}
        </td>

        <td>{%if value.quality%}{%for i in 1..value.quality%}<i class="sf-star fc-yellow"></i>{%endfor%}{%endif%}</td>
        <td>{{value.tstatus}}</td>
        <td>{{value.datecreated | dt('human', 'year')}}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No audio file founded!"%}</p>
{%endblock%}

