{%extends display.main%}


{%block page%}
  {{block('iQuickAccess')}}
<div class="f justify-center">


  <a href='{{url.kingdom}}/surah' class="vcard shadow c3 mA10 s6">
    <div class="content title">
      <div class="header">{%trans "Surah list"%}</div>
      <div class="meta"></div>
    </div>
    <div class="footer txtC">
      <i class="compact sf-thumbnails"></i> <span>{{114 | fitNumber}} {%trans "Surah"%}</span>
    </div>
  </a>

  <a href='{{url.kingdom}}/juz' class="vcard shadow c3 mA10 s6">
    <div class="content title">
      <div class="header">{%trans "Juz list"%}</div>
      <div class="meta"></div>
    </div>
    <div class="footer txtC">
      <i class="compact sf-thumbnails"></i> <span>{{30 | fitNumber}} {%trans "Juz"%}</span>
    </div>
  </a>

  <a href='{{url.kingdom}}/page' class="vcard shadow c3 mA10 s6">
    <div class="content title">
      <div class="header">{%trans "Page list"%}</div>
      <div class="meta"></div>
    </div>
    <div class="footer txtC">
      <i class="compact sf-thumbnails"></i> <span>{{604 | fitNumber}} {%trans "Page"%}</span>
    </div>
  </a>

  <a href='{{url.kingdom}}/hizb' class="vcard shadow c3 mA10 s6">
    <div class="content title">
      <div class="header">{%trans "Hizb list"%}</div>
      <div class="meta"></div>
    </div>
    <div class="footer txtC">
      <i class="compact sf-thumbnails"></i> <span>{{60 | fitNumber}} {%trans "Hizb"%}</span>
    </div>
  </a>

  <a href='{{url.kingdom}}/nim' class="vcard shadow c3 mA10 s6">
    <div class="content title">
      <div class="header">{%trans "Half of hizb list"%}</div>
      <div class="meta"></div>
    </div>
    <div class="footer txtC">
      <i class="compact sf-thumbnails"></i> <span>{{120 | fitNumber}} {%trans "Half of hizb"%}</span>
    </div>
  </a>

  <a href='{{url.kingdom}}/rub' class="vcard shadow c3 mA10 s6">
    <div class="content title">
      <div class="header">{%trans "Rub list"%}</div>
      <div class="meta"></div>
    </div>
    <div class="footer txtC">
      <i class="compact sf-thumbnails"></i> <span>{{240 | fitNumber}} {%trans "Rub"%}</span>
    </div>
  </a>

</div>

<div class="f justify-center txtC">
  <div class="c5 s12">
    <a href="{{url.kingdom}}/fromto" class="btn info outline block mTB20">{%trans "Part of sura"%}</a>
  </div>
</div>

{%endblock%}

{%block iQuickAccess%}
{%if quranQuickAccess%}
  <div class="msg">
    {%for key, value in quranQuickAccess%}
      <a class="btn primary outline mL10" href="{{value.url}}">{{value.title}}</a>
    {%endfor%}
  </div>
{%endif%}
{%endblock%}