
// mag design for header
body[data-in='mag'] #header{
    min-height: initial;
    height: 80px;
}
body[data-in='mag'] #header .topnav{
    padding-top: 20px;
}
body[data-in='mag'] #header .topnav h1{
    font-size: 2em;
}
body[data-in='mag'] #header .topnav .links a{
    padding: 0 1em;
}
body[data-in='mag'] #header .topTitle{
    display: none;
}
