
body[data-in='mag'] .wrapper{
    padding-top: 2em;
}


.ranking a{
	align-items: center;
	min-height: 50px;
	transition: 0.3s;
	padding: 0 0.5rem;
}
.ranking a:hover{
	background-color: rgba(0,0,0,0.1);
}
.ranking a:focus{
	background-color: rgba(0,0,0,0.2);
}
.ranking .rank{
	font-size: 2.5em;
	font-weight: 900;
	color: #e90606;
	padding: 0.5rem 1rem;
}

.ranking .title {
	display: block;
	font-size: 1.3em;
	margin:0;
}
