
// quranQuote
/*quote design*/
.quoteTile{position: relative;overflow: hidden;user-select: none;}
.quote-person{position:relative;margin:5em auto;min-height:150px;font-size:2rem;color: #333;padding:0 10px 0 110px;max-width: 600px;}
.quote-person p{font-weight:100}
/*.quote-person:before{position:absolute;top:0;font-size:350px;font-size:17em;color:#2fbfdf;font-family:Arial;font-weight:700;line-height:300px;right:-200px;content:'\201d'}*/
.quote-person:after{position:absolute;top:0;font-size:200px;color:#2fbfdf;font-family:Arial;font-weight:700;line-height:200px;left:0;content:'\201c'}
.quote-person .cite{display:block;color:#2fbfdf;font-weight:700;font-size:.9em}
.quote-person .citeRef{font-size:.7em;color:#b6b6b6;font-weight:700}

