{%extends 'content_a/layout.html'%}


{%block pageContent%}
<form method="post" autocomplete="off">

  <div class="justify-center f">
   <div class="c5 m6 s12">
    <div class="cbox">
      {%if dataRow.audio%}
        {%include 'content_lms/level/exam/fileDetector.html' with {'myUrl': dataRow.audio}%}
      {%endif%}

      <hr>


      {{block('iquality')}}
      <div class="example">
        <h5>{%trans "Mistakes"%}</h5>
        {{block('iMistakeList')}}
      </div>

      {{block('iStatus')}}
      {{block('iAnswer')}}
      {{block('iFile')}}

      <p>{%trans "Teacher Audio"%}</p>
      {%if dataRow.teacheraudio%}
        {%include 'content_lms/level/exam/fileDetector.html' with {'myUrl': dataRow.teacheraudio}%}
      {%endif%}


      {{block('isave')}}
    </div>
   </div>
  </div>

</form>
{%endblock%}







{% block iAnswer %}
<label for="answer">{%trans "Answer"%}</label>
<textarea class="txt" rows="3" name="answer" id="answer" disabled>{{dataRow.teachertxt}}</textarea>
{% endblock %}







{%block iMistakeList%}
{%for key, value in mistakeList%}
<div class="check1 red">
  <input type="checkbox" id="sChk{{value.id}}" name="mistake_{{value.id}}" value="{{value.id}}" disabled {%if value.id in savedMistake%} checked {%endif%}>
  <label for="sChk{{value.id}}">{{value.title}}</label>
</div>
{%endfor%}
{%endblock%}


