{%extends display.dash%}


{%block sidenav%}

<li><a href="{{url.here}}"><i class='sf-home'></i> <span>{%trans "Panel"%}</span></a></li>
<li><a href="{{url.here}}/badge"><i class='sf-medal'></i> <span>{%trans "Badge"%}</span></a></li>
<li><a href="{{url.kingdom}}/calculator"><i class='sf-calculator'></i> <span>{%trans "Calculator hefz program"%}</span></a></li>
<li><a href="{{url.here}}/reading"><i class='sf-bullhorn'></i> <span>{%trans "My audio file"%}</span></a></li>
<li><a href="{{url.here}}/history"><i class='sf-history'></i> <span>{%trans "History"%}</span></a></li>
<li><a href="{{url.kingdom}}/lms"><i class='sf-info'></i> <span>{%trans "Learning mechanism system"%}</span></a></li>
<li><a href="{{url.here}}/khatm"><i class='sf-bookmark-o'></i> <span>{%trans "Khatm"%}</span></a></li>
<li class="hr"></li>
<li><a href="{{url.kingdom}}/lms/all/quran"><i class='sf-book'></i> <span>{%trans "All learn quran"%}</span></a></li>
<li><a href="{{url.kingdom}}/lms/all/tajweed"><i class='sf-book'></i> <span>{%trans "All learn tajweed"%}</span></a></li>
<li><a href="{{url.kingdom}}/lms/all/exam"><i class='sf-book'></i> <span>{%trans "All learn exam"%}</span></a></li>
<li><a href="{{url.kingdom}}/lms/all/theme"><i class='sf-book'></i> <span>{%trans "All learn theme"%}</span></a></li>
<li><a href="{{url.kingdom}}/lms/all/iqra"><i class='sf-book'></i> <span>{%trans "All learn iqra"%}</span></a></li>
<li><a href="{{url.kingdom}}/lms/all/reading"><i class='sf-book'></i> <span>{%trans "All learn reading"%}</span></a></li>

{%endblock%}
