{%extends 'content_m/layout.html'%}


{%block pageContent%}
{%include 'content_m/level/pageSteps.html'%}

  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">

        {{block('iDesc')}}

        <label for="fratio">{%trans "Ratio score"%}</label>
        <div class="input">
            <input type="number" name="ratio" min="1" max="1000" id="fratio" value="{{dataRow.ratio}}">
        </div>


        <label for="funlockscore">{%trans "Unlock score"%}</label>
        <div class="input">
            <input type="number" name="unlockscore" min="1" max="282" id="funlockscore" value="{{dataRow.unlockscore}}">
        </div>

        {%if dataRow.type == 'exam' or dataRow.type == 'reading' or dataRow.type == 'tajweed' or dataRow.type == 'theme' %}
          <label for="questionrandcount">{%trans "Count random question"%}</label>
          <div class="input">
              <input type="number" name="questionrandcount" min="1" max="9999" id="questionrandcount" value="{{dataRow.questionrandcount}}">
          </div>
        {%endif%}

        {{block('iBadgeList')}}

        {{block('iStatus')}}


      {{block('isave')}}
    </div>
   </form>
  </div>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}





{%block iDesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc" maxlength='1000' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}



{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status"%}</label>
 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>
 <div class="radio1 black mB25">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'%} checked{%endif%} >
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>
</div>
{%endblock%}





{% block iBadgeList %}
<label for="fbadge">{%trans "Badge"%} <small>{%trans "Whene user complete this level by 3 score"%}</small></label>
  <select class="select ui dropdown search" name="badge" id="fbadge">
    <option value="">{%trans "Select badge"%}</option>
    {%for key, value in badgeList%}
        <option value="{{key}}" {%if dataRow.badge == key%} selected {%endif%}>{{key}} - {{value.title}}</option>
    {%endfor%}
  </select>
{%endblock%}
