
  <div class='readerMode'>
{%include 'content/home/blocks/block-besmellah.html'%}
{%for key, value in quranLoaded.text.line%}
<!-- load page number once for each page -->


{%if value.detail.line_type == 'besmellah'%}
{%elseif value.detail.line_type == 'start_sura'%}

{%include 'content/home/blocks/block-sura-header.html'%}
{%else%}
	<div class=' {%if pageStyle == "uthmani"%}{{value.detail.class_name}}{%endif%}'>
    <div class='ayeLine'>
{%for myWord in value.word%}
{%include 'content/home/blocks/block-aye-words.html'%}
{%endfor%}
    </div>
	</div>
{%endif%}

{%endfor%}
  </div>

