{%include 'content/home/blocks/block-cmd.html'%}

<div class='Quran' id="iqra" data-style='{{pageStyle}}' data-mode='{{pageMode}}'{%if requestGET.autoplay%} data-autoplay data-autoplayTitle='{%trans "Auto play quran"%}' {%endif%}>

{%if quranLoaded.mode == 'onepage'  %}
      {%include 'content/home/theme-onePage.html'%}

{%elseif quranLoaded.mode == 'twopage'%}
      {%include 'content/home/theme-twoPage.html'%}

{%elseif quranLoaded.mode == 'pagedesign'%}
      {%include 'content/home/theme-pageDesign.html'%}

{%elseif quranLoaded.mode == 'translatepage'%}
      {%include 'content/home/theme-translatePage.html'%}

{%elseif quranLoaded.mode == 'aye' or not quranLoaded.mode%}
      {%include 'content/home/theme-ayeBox.html'%}

{%endif%}

</div>

{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'bottom'}%}
{%include 'content/home/blocks/block-sura-pagination.html'%}
