<div class="f">
	<div class="c6 s12">

		{%for key, value in quranLoaded.text.page1%}
		<!-- load page number once for each page -->
		  <div class='{%if pageStyle == "uthmani"%}{{quranLoaded.detail.page1.class}}{%endif%} readerMode'>
		{%for page_number, page_line in value%}

		{%if page_line.detail.line_type == 'besmellah'%}
			{%include 'content/home/blocks/block-besmellah.html'%}
		{%elseif page_line.detail.line_type == 'start_sura'%}
			{%include 'content/home/blocks/block-sura-header.html'%}
		{%else%}
		    <div class='ayeLine'>
			{%for myWord in page_line.word%}
{%include 'content/home/blocks/block-aye-words.html'%}
			{%endfor%}
		    </div>
		{%endif%}
		{%endfor%}

		  </div>
		{%endfor%}

	</div>

	<div class="c6 s12 pR5">

		  <div class='readerMode translate'>
		{%for key, value in quranLoaded.translatepage%}
			{%if value.line_type == 'start_sura'%}

			{%elseif value.line_type == 'besmellah'%}
				{%include 'content/home/blocks/block-besmellah.html'%}
			{%else%}
				{%if value | length > 1%}
					{%set loadTranslateDetail = true%}
				{%endif%}

				{%for k, myTrans in value%}
					{%if loadTranslateDetail%}
			            <!-- <a href="{{myTrans.detail.remove_url}}"><span class="sf-times fc-red"></span></a> -->
			            <i class="flag {{myTrans.detail.flag}}"></i>
				        <abbr>{{myTrans.detail.localname}}</abbr>
						{%if myTrans.detail.image%}
						    <img src="{{myTrans.detail.image}}" alt="{{myTrans.detail.localname}}" class="avatar">
						{%endif%}
					{%endif%}

					{%set myAya = key | split('_')%}

					<p data-id='{{myAya[1]}}'>{{myTrans.text}} <span>({{myAya[1]  | fitNumber}})</span></p>

				{%endfor%}
			{%endif%}

		{%endfor%}
		</div>

	</div>
</div>
