{%extends display.dash%}



{%block sidenav%}
  <li><a href="{{url.here}}"><i class='sf-group-full'></i> <span>{% trans "Manage" %}</span></a></li>

<li><a href="{{url.here}}/group"><i class="sf-info"></i> {%trans "Groups"%}</a></li>
<li><a href="{{url.here}}/level"><i class="sf-grid-1"></i> {%trans "Levels"%}</a></li>
<li><a href="{{url.here}}/mistake"><i class="sf-bolt"></i> {%trans "Mistake in learn"%}</a></li>
<li><a href="{{url.here}}/mag"><i class="sf-book"></i> {%trans "Magazine"%}</a></li>
<li><a href="{{url.here}}/reading"><i class="sf-bullhorn"></i> {%trans "User audio list"%}</a></li>
<li><a href="{{url.here}}/khatm"><i class="sf-bookmark-o"></i> {%trans "Khatm"%}</a></li>
{%endblock%}

