// all styles of quran ayat
.preload .Quran i{
    opacity: 0;
}
.Quran i{
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    opacity: 1;
    line-height:49px;
    height: 50px;
    font-size: 30px;
    padding-left: 2px;
    outline: none;
}
.Quran i:hover{
    color:#07b7dd;
    border-bottom-color:#999;
}
.Quran i[title], .Quran i[data-tippy-title]{
    cursor: help;
}
.Quran i.h{
    color:#0770dd;
}
// style default mode of page 1,2
.Quran .p1 i, .Quran .p2 i{
    font-size: 40px;
}
// normal and aye mode
.Quran[data-style='iransans'] i{
    font-size: 22px;
}
// reader mode
.Quran[data-style='iransans'] .ayeNum{
    font-family: "Traditional Arabic", "Times New Roman";
    letter-spacing: 2px;
    color: #777;
}
.Quran[data-style='noorehuda'] i{
    font-family: Noorehuda;
    word-wrap: break-word;
    word-break: keep-all
}
.Quran[data-style='noorehuda'] .ayeNum{
    font-family: "Traditional Arabic", "Times New Roman";
    letter-spacing: 2px;
    color: #777;
    font-size: 1.7em;
}

.ayeSimple{
    direction: rtl;
    text-align: right;
    display: none;
}
