.ayeLine{
    cursor: default;
    position: relative;
    transition: 0.3s;
    padding: 4px 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #f7f7f7;
    color: #000;
    min-height: 60px;
}
.ayeLine:hover{
    background-color: rgba(0,200,255,0.05);
    border-color: rgba(0,0,0,0.2);
}
.ayeLine.active{
    background-color: rgba(0,200,255,0.05);
    border-color: #2080d0;
}
.ayeBox .ayeLine{
    text-align: right;
    padding-right:0.5em;
}
