.Quran .bismillah {
  font-family: bismillah;
  font-size: 60px;
  line-height: 50px;
  padding: 5px 0;
  height: 60px;
  text-align: center;
  color: #333;
  background-color: #f7f7f7;
  overflow: hidden;
}
