
.player{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 60px;
	background-color: #333;
	z-index: 20;
	font-size: 1.2rem;
	opacity: 0.9;
	transition: 0.3s ease;
	user-select:none;
}
.ltr .player{
	left: 50px;
}
.rtl .player{
	right: 50px;
}
.present .player{
	right: 0;
	left: 0;
}
.player.nothing{
	bottom: -60px;
}
.player .qari{
	display: block;
	margin:0;
	overflow: hidden;
}
.player .qari img{
	display: inline-block;
	border-radius: 50%;
	max-width: 50px;
	min-width: 30px;
	width: 50px;
	height: 50px;
	margin:5px;
	overflow: hidden;
	background-color: #fff;
	vertical-align: middle;
}
.player .qari figcaption{
	vertical-align: middle;
	display: inline-block;
	color: #fff;
	height: 50px;
	padding:5px 0 0;
	margin:5px 0;
}
.player .qari .title{
	height: 25px;
	line-height: 25px;
	font-size: 1.1em;
}
.player .qari .meta{
	height: 15px;
	line-height: 15px;
	color: #ccc;
	max-width: 200px;
	overflow: hidden;
}
.player .qari .meta span{
	display: inline-block
}
.player audio{
	display: block;
	width: 100%;
	height: 40px;
	margin: 10px 0;
	padding: 0 5px;
	transition: 0.3s;
	overflow: hidden;
	outline: none;
}
.player .sf-cog{
	color: #fff;
	font-size: 20px;
	display: block;
	cursor: pointer;
	padding: 12px;
}

.player .pSettings{
	position: absolute;
	width: 300px;
	max-width: 100%;
	padding: 10px;
	background-color: #222;
	color: #eee;
	line-height: 30px;
	bottom: 60px;
	right: 0;
}
.rtl .player .pSettings{left: 0;right: initial;}
.player .pSettings .select{
	background-color: #000;
	color: #fff;
}


