
.Quran .readerMode.translate{
	background-color: #f7f7f7;
	color: #333;
	position: relative;
	padding: 20px 5%;
	line-height: 30px;
}
body.ltr .Quran .readerMode.translate{
	direction: ltr;
}

.Quran .readerMode.translate div{
	display: block;
}
.Quran .readerMode.translate div span{
	display: inline-block;
	direction: rtl;
  font-family: "Traditional Arabic", "Times New Roman";
  letter-spacing: 2px;
  color: #777;
}