{%extends 'content_m/audiobank/layout.html'%}

{%block pageContent%}
<div class="cbox">

<div data-kerkere='.showData-me-json' class="msg">content/audio/data.me.json</div>
<div class="showData-me-json" data-kerkere-content='hide'>
	<pre>
		{{dataMeJson.me}}
	</pre>
</div>

<div data-kerkere='.showData-config-json' class="msg">lib/app/audioconfig.json</div>
<div class="showData-config-json" data-kerkere-content='hide'>
<pre>
{{dataMeJson.config | raw}}
</pre>
</div>

<div class="btn danger" data-confirm data-data='{"run" : "run"}'>{%trans "Run again"%}</div>
<div class="btn success floatL" ><a href="{{url.kingdom}}/audio" data-direct>{%trans "Audio bank"%}</a></div>
</div>



{%endblock%}









