{%extends 'content_m/layout.html'%}



{%block pageContent%}
{{block('pageSteps')}}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}


{%block pageSteps%}
<div class="f">
  <div class="c m4 s4">
    <a class="dcard x07 {%if not requestGET.groupid %}active{%endif%}" href="{{url.this}}">
      <div class="value">{{groupCountAll | fitNumber}}</div>
      <div class="label">{%trans "All"%}</div>
    </a>
  </div>
  {%for key, value in groupCount%}
   <div class="c m4 s4">
    <a class="dcard x07 {%if requestGET.groupid == value.id%}active{%endif%}" href="{{url.this}}?groupid={{value.id}}">
      <div class="value">{{value.count | fitNumber}}</div>
      <div class="label">{{value.title}}</div>
    </a>
  </div>
  {%endfor%}
</div>
{%endblock%}


{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">

      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th data-sort="{{sortLink.title.order}}"><a href='{{sortLink.title.link}}'>{%trans "Level"%}</a></th>
        <th data-sort="{{sortLink.lm_group_id.order}}"><a href='{{sortLink.lm_group_id.link}}'>{%trans "Group"%}</a></th>
        <th>{%trans "Detail"%}</th>
        <th data-sort="{{sortLink.type.order}}"><a href='{{sortLink.type.link}}'>{%trans "Type"%}</a></th>
        <th class="s0 collapsing" data-sort="{{sortLink.sort.order}}"><a href='{{sortLink.sort.link}}'>{%trans "Sort"%}</a></th>
        <th class="s0" data-sort="{{sortLink.status.order}}"><a href='{{sortLink.status.link}}'>{%trans "Status"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative' {%else%} class='positive' {%endif%}>
        <td><a href="{{url.this}}/edit?id={{value.id}}"><i class="sf-edit"></i> {{value.title}}</a> <small class="s0">{{value.subtitle}}</small></td>
        <td class=""><a href="{{url.this}}?groupid={{value.lm_group_id}}">{{value.group_title}}</a></td>
        <td>

            {%if value.question_count%}<span class="badge light">{%trans "Question count"%} {{value.question_count | fitNumber}}</span>{%endif%}
            {%if value.questionrandcount%}<span class="badge light">{%trans "Random question"%} {{value.questionrandcount | fitNumber}}</span>{%endif%}
            {%if value.besmellah%}<span class="badge success">{%trans "Besmellah"%}</span>{%endif%}
            {%if value.quranfrom%}
              <span class="badge light">{%trans "Surah"%} {{value.quran_sura}}
                 {{value.quran_start_aya | fitNumber}} - {{value.quran_end_aya | fitNumber}}
              </span>
            {%endif%}


            {%if value.unlockscore%}
            <span class="badge light">{%trans "Unlock score"%} {{value.unlockscore | fitNumber}}</span>
            {%endif%}
            {%if value.file%}
              <a title='{%trans "Video"%}' href="{{value.file}}"><i class="sf-movie"></i></a>
            {%endif%}
            {%if value.filepic%}
              <a title='{%trans "Cover"%}' href="{{value.filepic}}"><i class="sf-picture"></i></a>
            {%endif%}


        </td>
        <td><a href="{{url.this}}?type={{value.type}}">{{value.type_title}}</a></td>
        <td class="s0">{{value.sort | fitNumber}}</td>
        <td class="s0 collapsing">{%set myStatus = value.status | capitalize %}<a href="{{url.this}}?status={{value.status}}">{%trans myStatus%}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new level!"%}</a></p>
{%endblock%}

