{%extends display.admin%}



{%block pageContent%}
  <div class="f">
    <div class="c4 s12">
      <div class="f">
        <div class="c6 s12">{{block('bHistory')}}</div>
        <div class="c6 s12">{{block('bChart')}}</div>
      </div>
    </div>
    {%if false%}
      <div class="c4 s12">{{block('bFav2')}}</div>
    {%endif%}
      <div class="c4 s12">{{block('bKhatm')}}</div>
      <div class="c4 s12">{{block('bLMS')}}</div>
      <div class="c4 s12">{{block('bReading')}}</div>
      <div class="c4 s12">{{block('bHefzP')}}</div>
      <div class="c4 s12">{{block('bBadge')}}</div>



  </div>
  <div class="f">
    <div class="c2 s6">{{block('iBquran')}}</div>
    <div class="c2 s6">{{block('iBtajweed')}}</div>
    <div class="c2 s6">{{block('iBexam')}}</div>
    <div class="c2 s6">{{block('iBtheme')}}</div>
    <div class="c2 s6">{{block('iBrokhani')}}</div>
    <div class="c2 s6">{{block('iBiqra')}}</div>
  </div>
{%endblock%}


{%block iBquran%}
<a class="vcard mA10 shadow green" href="{{url.kingdom}}/lms/all/quran" >
  <div>
    <img src="{{url.site}}/static/images/lms/bg-level-start-txt.jpg" alt='{%trans ""%}'>
  </div>
  <div class="content">
    <div class="header">{%trans "All learn quran"%}</div>
    <div class="meta"></div>
  </div>
</a>

{%endblock%}
{%block iBtajweed%}
<a class="vcard mA10 shadow green" href="{{url.kingdom}}/lms/all/tajweed" >
  <div>
    <img src="{{url.site}}/static/images/lms/bg-level-tajweed-txt.jpg" alt='{%trans ""%}'>
  </div>
  <div class="content">
    <div class="header">{%trans "All learn tajweed"%}</div>
    <div class="meta"></div>
  </div>
</a>

{%endblock%}
{%block iBexam%}
<a class="vcard mA10 shadow green" href="{{url.kingdom}}/lms/all/exam" >
  <div>
    <img src="{{url.site}}/static/images/lms/bg-level-exam-txt.jpg" alt='{%trans ""%}'>
  </div>
  <div class="content">
    <div class="header">{%trans "All learn exam"%}</div>
    <div class="meta"></div>
  </div>
</a>

{%endblock%}
{%block iBtheme%}
<a class="vcard mA10 shadow green" href="{{url.kingdom}}/lms/all/theme" >
  <div>
    <img src="{{url.site}}/static/images/lms/bg-level-theme-txt.jpg" alt='{%trans ""%}'>
  </div>
  <div class="content">
    <div class="header">{%trans "All learn theme"%}</div>
    <div class="meta"></div>
  </div>
</a>
{%endblock%}

{%block iBrokhani%}
<a class="vcard mA10 shadow green" href="{{url.kingdom}}/lms/all/reading" >
  <div>
    <img src="{{url.site}}/static/images/lms/bg-level-reading-txt.jpg" alt='{%trans ""%}'>
  </div>
  <div class="content">
    <div class="header">{%trans "All learn reading"%}</div>
    <div class="meta"></div>
  </div>
</a>
{%endblock%}

{%block iBiqra%}
<a class="vcard mA10 shadow green" href="{{url.kingdom}}/lms/all/iqra" >
  <div>
    <img src="{{url.site}}/static/images/lms/bg-level-iqra-txt.jpg" alt='{%trans ""%}'>
  </div>
  <div class="content">
    <div class="header">{%trans "All learn iqra"%}</div>
    <div class="meta"></div>
  </div>
</a>
{%endblock%}

{%block bBadge%}
<a class="dcard x2" href='{{url.here}}/badge'>
 <div class="statistic yellow">
  <div class="value mB10"><i class="sf-medal"></i></div>
  <div class="label">{%trans "Badge"%}</div>
 </div>
</a>
{%endblock%}


{%block bChart%}
<a class="dcard x2" href='{{url.here}}/chart'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-chart"></i></div>
  <div class="label">{%trans "Chart"%}</div>
 </div>
</a>
{%endblock%}

{%block bHefzP%}
<a class="dcard x2" href='{{url.kingdom}}/calculator' data-direct>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-calculator"></i></div>
  <div class="label">{%trans "Calculator hefz program"%}</div>
 </div>
</a>
{%endblock%}

{%block bReading%}
<a class="dcard x2" href='{{url.here}}/reading'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-bullhorn"></i></div>
  <div class="label">{%trans "My audio file"%}</div>
 </div>
</a>
{%endblock%}

{%block bHistory%}
<a class="dcard x2" href='{{url.here}}/history'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-history"></i></div>
  <div class="label">{%trans "History"%}</div>
 </div>
</a>
{%endblock%}



{%block bLMS%}
<a class="dcard x2" href='{{url.kingdom}}/lms'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-info"></i></div>
  <div class="label">{%trans "Learning mechanism system"%}</div>
 </div>
</a>
{%endblock%}




{%block bKhatm%}
<a class="dcard x2" href='{{url.here}}/khatm'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-book fc-green"></i></div>
  <div class="label">{%trans "Khatm"%}</div>
 </div>
</a>
{%endblock%}



{%block bFav%}
<a class="dcard x2" href='{{url.here}}/fav'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-star fc-yellow"></i></div>
  <div class="label">{%trans "Favorite"%}</div>
 </div>
</a>
{%endblock%}
