{%extends 'content_a/layout.html'%}


{%block pageContent%}
  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
      <div class="msg txtB txtC  success">{{khatmRow.title}}</div>
		<div class="msg fs12">
			{% trans "Hi"%}
			<br>
      		{{khatmRow.desc}}
      	</div>

		<div class="msg warn">{% trans "It is up to you to complete the religious responsibility"%}</div>
		<div class="msg">{% trans "If you want to attend the khatm, click on the button below"%}</div>

	    <div data-confirm data-data='{"type": "start", "id" : "{{khatmRow.id}}"}' class="btn success block outline xxl">{%trans "Start"%}</div>

    </div>
   </form>
  </div>
{%endblock%}







