#google_translate_element select{
  background:black;
  color:white;
  border: none;
  border-radius:10px;
  padding:5px 8px;
  }
  
  /*google translate link | logo */
    .goog-logo-link,.goog-te-gadget span,div#goog-gt-{
    display:none!important;
    }
  .goog-te-gadget{
    color:transparent!important;
    font-size:10;
  }
  
  /* google translate banner-frame */
  
  .goog-te-banner-frame{
  display:none !important;
  }
  
  #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
 .goog-text-highlight { background: none !important; box-shadow: none !important;}