/* Design for open in iframe */

body[data-iframe]:before{background:#fff;}
[data-iframe] header{display:none!important;}
[data-iframe] #sidebar{display:none!important;}
[data-iframe] .player{right:0!important;left:0!important;}
[data-iframe] #page{margin:0!important;}
[data-iframe] footer{display:none!important;}
[data-iframe] .shareLine{display:none!important;}
[data-iframe] #dlapp{display:none!important;}
[data-iframe] #nodes{display:none!important;}
[data-iframe] .quranStatistics{display:none!important;}
[data-iframe] .magList{display:none!important;}
[data-iframe] .mustReads{display:none!important;}


// for fix frame
body.fixframe:before{background:#fff;}
body.fixframe header{display:none!important;}
body.fixframe #sidebar{display:none!important;}
body.fixframe .player{right:0!important;left:0!important;}
body.fixframe #page{margin:0!important;}
body.fixframe footer{display:none!important;}
body.fixframe .shareLine{display:none!important;}
body.fixframe #dlapp{display:none!important;}
body.fixframe #nodes{display:none!important;}
body.fixframe .quickAccess{display:none!important;}
body.fixframe .fullCommand{display:none!important;}
body.fixframe .ayeBox .ayeLinks{display:none!important;}
body.fixframe .quranNav{display:none!important;}
body.fixframe .pSettings .btn{display:none!important;}
body.fixframe .pSettings .btn{display:none!important;}
body.fixframe .quranStatistics{display:none!important;}
body.fixframe .magList{display:none!important;}
body.fixframe .mustReads{display:none!important;}
