@media (max-width: 767px) {
	.ltr #page{margin-left: 0;}
	.rtl #page{margin-right: 0;}
	.ltr #sidebar{left: -51px;}
	.rtl #sidebar{right: -51px;}
	#header {min-height: auto;}
	#header .sidenavHandler{display: inline-block;}
	#header .topnav h2{font-size: 1.5em}
	#header .topnav .links a{display: none;}
	#header .topTitle{padding-top: 40px;}
	#header .topTitle h2{font-size: 3em;line-height: 2em;}


	#soreha a{
		padding: 0.5rem 1rem;
	}
	#soreha .c7 span{
		display: inline-block;
	}
	.ltr #soreha .c7 span{
		margin-right: 0.5em;
	}
	.rtl #soreha .c7 span{
		margin-left: 0.5em;
	}
	#soreha .c7 abbr{
		display: inline-block;
	}

	// quran commands
	.fullCommand .ui.dropdown{
		padding: 0 10px 0 45px;
	}
	// Quran Mobile styles
	.Quran .bismillah{
		font-size: 45px;
	}
	.Quran .ayeLine{
		min-height: 40px;
	}
	.Quran i{
		font-size: 20px;
		padding-left: 2px;
		line-height:29px;
		height: 30px;
	}
	.Quran .ayeBox i{
		font-size: 24px;
		line-height:39px;
		height: 40px;
	}
	.Quran .p1 i, .Quran .p2 i{
		font-size: 28px;
	}
	.Quran[data-style='iransans'] i{
		font-size: 12px;
	}
	.Quran[data-style='noorehuda'] i{
		font-size: 18px;
	}
	// quran
	.ayeBox{
		padding: 0.5em;
	}
	.ayeBox .meta{
		width: 100%;
	}
	.ayeBox .meta .opr{
		margin: 0 2px!important;
	}
	.ayeBox .translate .v5 th{
		display: block;
		padding: 0.5em!important;
	}
	.ayeBox .translate .v5 td{
		display: block;
		padding: 0.5em!important;
	}

	// player
	.player{
		left: 0!important;
		right: 0!important;
		height: 40px;
		max-height: 40px;
	}
	.player .qari figcaption{
		display: none;
	}
	.player .qari img{
		height: 36px;
		width: 36px;
		margin: 2px;
	}
	.player audio{
		padding: 0 3px;
		margin:2px 0;
		height: 36px;
		max-height: 36px;
	}
	.player .sf-cog{
		padding: 7px;
	}
	.player .pSettings{
		width: 100%;
		bottom: 40px;
		right: 0;
		left: 0;
	}

	#dlapp h2{margin:0;}
	#dlapp figure{margin:0;}
}

@media (max-width: 374px) {
	.Quran i{
		font-size: 17px;
	}
}
