{%extends 'content_m/layout.html'%}

{%block pageContent%}
  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
     {{block('iTypeList')}}
     {{block('ititle')}}
     {{block('iadd')}}
    </div>
   </form>
  </div>
{%endblock%}



{% block ititle %}
<label for="title">{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Group title"%} *' value="{{dataRow.title}}" autofocus required maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{% endblock %}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}





{% block iTypeList %}


<label for="itype">{%trans "Type"%} <small class="fc-red">* {%trans "Require"%}</small></label>

<select name="type" class="mB10 select ui dropdown search" id="itype">
  <option value="" readonly>{%trans "Please select one item"%} *</option>
  {%for key, value in typeList%}
    <option value="{{key}}" {%if key == dataRow.type %} selected {%endif%}>{{value.title}}</option>
  {%endfor%}
</select>

{% endblock %}


