<div class="msg txtB txtC f info2 fs14">
  {%if dataRow.group_detail.title%}<div class="c">{{dataRow.group_detail.title}}</div>{%endif%}
  <div class="c">{{dataRow.title}}</div>
  <div class="c"><small>{%trans "Type"%}</small> {{dataRow.type_title}}</div>
</div>
<div class="f">

  <div class="c s6">
    <a class="dcard {%if url.child == 'edit' %}active{%endif%}" href='{{url.this}}/edit?id={{requestGET.id}}'>
     <div class="statistic">
      <div class="value"><i class="sf-edit"></i></div>
      <div class="label">{%trans "Edit"%}</div>
     </div>
    </a>
   </div>

   <div class="c s6">
    <a class="dcard {%if url.child == 'setting' %}active{%endif%}" href='{{url.this}}/setting?id={{requestGET.id}}'>
     <div class="statistic">
      <div class="value"><i class="sf-cogs"></i></div>
      <div class="label">{%trans "Setting"%}</div>
     </div>
    </a>
   </div>


   {%if (dataRow.type != 'quran' and dataRow.type != 'iqra')  %}
    <div class="c s6">
      <a class="dcard {%if url.child == 'media' %}active{%endif%}" href='{{url.this}}/media?id={{requestGET.id}}'>
       <div class="statistic">
        <div class="value"><i class="sf-movie"></i></div>
        <div class="label">{%trans "Multimedia"%}</div>
       </div>
      </a>
     </div>
   {%endif%}

   {%if (dataRow.type == 'quran' or dataRow.type == 'iqra')  %}
    <div class="c s6">
      <a class="dcard {%if url.child == 'quran' %}active{%endif%}" href='{{url.this}}/quran?id={{requestGET.id}}'>
       <div class="statistic">
        <div class="value"><i class="sf-book"></i></div>
        <div class="label">{%trans "Quran"%}</div>
       </div>
      </a>
     </div>
   {%endif%}

   {%if (dataRow.type != 'quran' and dataRow.type != 'iqra') %}
    <div class="c s6">
      <a class="dcard {%if url.child == 'exam' %}active{%endif%}" href='{{url.this}}/exam?id={{requestGET.id}}'>
       <div class="statistic">
        <div class="value"><i class="sf-info"></i></div>
        <div class="label">{%trans "Exam"%}</div>
       </div>
      </a>
     </div>
   {%endif%}

</div>