{%extends 'content_m/layout.html'%}


{%block pageContent%}
{%include 'content_m/khatm/pageSteps.html'%}

  <div class="justify-center f">
   <form method="post" class="c5 m6 s12" autocomplete="off">
    <div class="cbox">
      <div class="msg">
        {%trans "Your intention of khatm quran"%}
        {{block('iniyat')}}
      </div>




      {{block('iType')}}

      {{block('iRange')}}
      <div data-response='range' data-response-where='sura' {%if dataRow.range == 'sura'%} {%else%} data-response-hide {%endif%} class="mB10">
        {{block('suraList')}}
      </div>

      <div class="msg">
        {{block('iRepeat')}}
      </div>
      {{block('iPrivacy')}}
      {{block('iStatus')}}

      {{block('isave')}}
    </div>
   </form>
  </div>
{%endblock%}






{% block suraList %}
<label for="fsura">{%trans "Surah"%}</label>
  <select class="select" disabled name="sura" id="fsura">
    <option value="">{%trans "Select sura"%}</option>
    {%for key, value in quranListQuick%}
        <option value="{{key}}" {%if dataRow.sura == key%} selected {%endif%}>{{value}}</option>
    {%endfor%}
  </select>
{%endblock%}







{%block iRepeat %}
<label for="repeat">{%trans "Repeat whole khatm"%}</label>
<div class="input">
  <input type="number" disabled name="repeat" id="repeat" max='114' min="1"  value="{{dataRow.repeat}}" placeholder='{%trans "Between 1 and 114"%}'>
</div>
{%endblock%}




{% block iniyat %}
<label for="niyat"><small class="fc-green">{%trans "Optional"%}</small></label>
<div class="input">
  <input type="text" name="niyat" id="niyat"  value="{{dataRow.niyat}}"  maxlength='150' minlength="1" pattern=".{1,150}">
</div>
{% endblock %}


{%block iType%}
<label for="type">{%trans "Read quran mode"%}</label>

<select name="type" disabled class="mB10 select ui dropdown search" id="type">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  <option value="page" {%if dataRow.type == 'page'%} selected {%endif%}>{%trans "Read quran page by page"%}</option>
  <option value="juz" {%if dataRow.type == 'juz'%} selected {%endif%}  >{%trans "Read quran juz by juz"%}</option>
</select>

{%endblock%}



{%block iRange%}
<label for="range">{%trans "Range of khatm"%}</label>

<select name="range" disabled class="mB10 select ui dropdown search" id="range">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  <option value="quran" {%if dataRow.range == 'quran'%} selected {%endif%} >{%trans "The whole Quran"%}</option>
  <option value="sura" {%if dataRow.range == 'sura'%} selected {%endif%}   >{%trans "Special Surah"%}</option>
</select>

{%endblock%}


{%block iPrivacy%}
<label for="privacy">{%trans "Privacy"%}</label>

<select name="privacy" class="mB10 select ui dropdown search" id="privacy">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  <option value="public" {%if dataRow.privacy == 'public'%} selected {%endif%}>{%trans "Public"%} - {%trans "Everyone can see it"%}</option>
  <option value="private" {%if dataRow.privacy == 'private'%} selected {%endif%}  >{%trans "Private"%} - {%trans "Only you can see it"%}</option>
</select>

{%endblock%}



{%block isave%}
<button class="btn primary block mT20">{%trans "Edit"%}</button>
{%endblock%}




{%block iStatus%}

<div class="mT15">
 <label >{%trans "Status"%}</label>
 {%if false%}
 <div class="radio1 green">
  <input type="radio" id="r-enable" name="status" value="enable" {%if dataRow.status == 'enable' or not dataRow.status %} checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
 </div>
 <div class="radio1 black ">
  <input type="radio" id="r-disable" name="status" value="disable" {%if dataRow.status == 'disable'%} checked{%endif%} >
  <label for="r-disable">{%trans "Disable"%}</label>
 </div>
 {%endif%}

  <div class="radio1 yellow ">
  <input type="radio" id="r-awaiting" name="status" value="awaiting" {%if dataRow.status == 'awaiting'%} checked{%endif%} >
  <label for="r-awaiting">{%trans "Awaiting"%}</label>
 </div>

  <div class="radio1 red ">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'%} checked{%endif%} >
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>

  <div class="radio1 green ">
  <input type="radio" id="r-done" name="status" value="done" {%if dataRow.status == 'done'%} checked{%endif%} >
  <label for="r-done">{%trans "Done"%}</label>
 </div>

</div>
{%endblock%}

