{%extends display.main%}


{%block page%}
<div class="f justify-center">
  <div class="c5 s12">
    <form method="get" action="{{url.this}}">
      {{block('suraListStart')}}

        <label for="faya" class="mT20">{%trans "Start aya"%}</label>
        <div class="input">
            <input type="number" name="startaya" min="1" max="282" id="faya" value="{{requestGET.startaya}}">
        </div>

        <label for="feaya">{%trans "End aya"%}</label>
        <div class="input">
            <input type="number" name="endaya" min="1" max="282" id="feaya" value="{{requestGET.endaya}}">
        </div>

        <button class="btn block mT20">{%trans "Create link"%}</button>
    </form>

    {%if fromtoLink%}
      <a class="btn block success xl mT20" href="{{url.kingdom}}/{{fromtoLink}}">{%trans "Show this part of quran"%}</a>
    {%endif%}
  </div>
</div>

{%endblock%}





{% block suraListStart %}
<label for="fsura">{%trans "Surah"%}</label>
  <select class="select ui dropdown search" name="surah" id="fsura">
    <option value="">{%trans "Select sura"%}</option>
    {%for key, value in quranListQuick%}
        <option value="{{value.index}}" {%if requestGET.surah == value.index%} selected {%endif%}>{{value.name}} - {%trans "End aya"%} {{value.ayas | fitNumber}}</option>
    {%endfor%}
  </select>
{%endblock%}
