{%extends display.main%}



{%block page%}
  {{block('topQari')}}


{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{{block('requestNewAudio')}}
  {%if perm_su()%}
  <div class="f">
    <div class="cauto os">
      <div data-confirm data-data='{"updatedatabase" : 1}' class="btn warn">{%trans "Update database"%}</div>
    </div>
  </div>
  {%endif%}

{%endblock%}



{%block requestNewAudio%}
<div class="msg txtC primary2 pTB20 fs14">
  <h3 class="txtB">{%trans "Have a specific sound request?"%}</h3>
  <div class="mT10"><a class="btn info hauto" data-direct href='{{url.kingdom}}/support/ticket/add?title={% trans "request to upload audio" %}'>{%trans "Contact the legendary support team right now."%}</a></div>
</div>

{%endblock%}




{%block htmlTable%}
  <table class="tbl1 v6">
    <thead>
      <tr class="fs08">
        <th class="s0 collapsing">#</th>
        <th class="s0 collapsing">&nbsp;</th>
        <th data-sort='{{sortLink.qari.order}}'><a href="{{sortLink.qari.link}}">{%trans "Qari"%}</a></th>
        <th data-sort='{{sortLink.readtype.order}}'><a href="{{sortLink.readtype.link}}">{%trans "Style"%}</a></th>
        <th data-sort='{{sortLink.type.order}}'><a href="{{sortLink.type.link}}">{%trans "type"%}</a></th>
        <th data-sort='{{sortLink.quality.order}}'><a href="{{sortLink.quality.link}}">{%trans "Quality"%}</a></th>
        <th class="s0" data-sort='{{sortLink.country.order}}'><a href="{{sortLink.country.link}}">{%trans "Country"%}</a></th>
        <th class="s0" data-sort='{{sortLink.size.order}}'><a href="{{sortLink.size.link}}">{%trans "Size"%}</a></th>
        <th class="s0" data-sort='{{sortLink.countfile.order}}'><a href="{{sortLink.countfile.link}}">{%trans "Count file"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="s0">{{(key + 1) | fitNumber}}</td>
        <td class="s0"><a href="{{url.this}}?qari={{value.qari}}"><img src="{{value.image}}" class="avatar"></a></td>
        <td>{%set myQari = value.name%}
          {%if value.readtype == 'surah'%}
          <a class="block pLa5" href="{{url.this}}/{{value.addr}}">{%trans myQari%}</a>
          {%else%}
          <a class="block pLa5" href="{{dlLink}}/{{value.addr}}" data-direct target="_blank">{%trans myQari%}</a>
          {%endif%}
          {%if value.qari2%}<span class="badge light">{%trans "Qari"%}{{value.qari2}}</span>{%endif%}
          {%if value.language%}<span class="badge light">{%trans "Language"%} {{value.language}}</span>{%endif%}
          {%if value.reader%}<span class="badge light">{%trans "Narrator"%} {{value.reader}}</span>{%endif%}
        </td>
        <td>

          <a href="{{url.this}}?readtype={{value.readtype}}">
            {%set readtype = value.readtype%}{%trans readtype%}
          </a>
          {%if value.typedesc%}<span class="badge light">{{value.typedesc}}</span>{%endif%}
        </td>

        <td><a href="{{url.this}}?type={{value.type}}">{%set mytype = value.type%}{%trans mytype%}</a></td>
        <td><a href="{{url.this}}?quality={{value.quality}}" class="ltr block">{{value.quality | fitNumber}} <span class="s0">kbps</span></a></td>
        <td class="s0 fs08"><a href="{{url.this}}?country={{value.country}}"><i class="compact flag {{value.flag}}"></i> <span>{{value.country_name}}</span></a></td>
        <td class="s0">{{value.size | fitNumber}}</td>
        <td class="s0">{{value.countfile | fitNumber}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}




{%block topQari%}

<div class="f txtC fs07 mTB10">
  <div class="c2 s4">
    <a href="{{url.this}}?qari=parhizgar">
      <img src="{{url.static}}/images/qariyan/parhizgar.png" alt='{%trans "Quran Qari"%} {%trans "parhizgar"%}'>
      <h3>{%trans "parhizgar"%}</h3>
    </a>
  </div>

  <div class="c2 s4">
    <a href="{{url.this}}?qari=mansouri">
      <img src="{{url.static}}/images/qariyan/mansouri.png" alt='{%trans "Quran Qari"%} {%trans "mansouri"%}'>
      <h3>{%trans "mansouri"%}</h3>
    </a>
  </div>

  <div class="c2 s4">
    <a href="{{url.this}}?qari=minshawi">
      <img src="{{url.static}}/images/qariyan/minshawi.png" alt='{%trans "Quran Qari"%} {%trans "minshawi"%}'>
      <h3>{%trans "minshawi"%}</h3>
    </a>
  </div>

  <div class="c2 s4">
    <a href="{{url.this}}?qari=afasy">
      <img src="{{url.static}}/images/qariyan/afasy.png" alt='{%trans "Quran Qari"%} {%trans "afasy"%}'>
      <h3>{%trans "afasy"%}</h3>
    </a>
  </div>

  <div class="c2 s4">
    <a href="{{url.this}}?qari=husary">
      <img src="{{url.static}}/images/qariyan/husary.png" alt='{%trans "Quran Qari"%} {%trans "husary"%}'>
      <h3>{%trans "husary"%}</h3>
    </a>
  </div>

  <div class="c2 s4">
    <a href="{{url.this}}?qari=abdulbasit">
      <img src="{{url.static}}/images/qariyan/abdulbasit.png" alt='{%trans "Quran Qari"%} {%trans "abdulbasit"%}'>
      <h3>{%trans "abdulbasit"%}</h3>
    </a>
  </div>
</div>
{%endblock%}

