{% extends "variables.html" %}
{% block html -%}
<!doctype html>
<html class="not-ready lg:text-base overflow-y-scroll scroll-pt-14" lang="{{ g_lang_html | escape_xml | safe }}">

<head prefix="og: https://ogp.me/ns#{%
  if g_profile is defined %} profile: https://ogp.me/ns/profile#{%
  elif g_is_article %} article: https://ogp.me/ns/article#{%
  endif %}">
  {%- include "partials/head.html" %}
  <!-- Begin Head inject -->
  {% include "injects/head.html" ignore missing %}
  <!-- End Head inject -->
  {% include "partials/head_res.html" %}
  <!-- Begin Head End inject -->
  {% include "injects/head_end.html" ignore missing %}
  <!-- End Head End inject -->
</head>

<body class="text-black duration-100 ease-out bg-[var(--bg)] dark:text-white">
  {% include "partials/header.html" %}
  <!-- Begin Body Start inject -->
  {% include "injects/body_start.html" ignore missing %}
  <!-- End Body Start inject -->
  <main class="prose prose-neutral relative mx-auto min-h-[calc(100%-4rem)]
    max-w-3xl break-words px-4 pb-12 pt-28 lg:pt-32 dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg">
    {%- if config.build_search_index %}
      {% include "partials/search.html" %}
    {%- endif %}
    {% block main %}
      {%- if g_profile is defined %}
        {%- if paginator is undefined or paginator.current_index == 1 %}
    {% include "partials/profile.html" %}
        {%- endif %}
      {%- elif section.title %}
    <h1 class="mb-16">{{ section.title }}</h1>
      {%- endif %}
      {%- if section.content %}
    <section>{{ section.content | safe }}</section>
      {%- endif %}
      {% include "partials/page_list.html" %}
    {% endblock main %}
  </main>
  {% include "partials/footer.html" %}
  {% include "partials/body_res.html" %}
  <!-- Begin Body End inject -->
  {% include "injects/body_end.html" ignore missing %}
  <!-- End Body End inject -->
</body>

</html>
{%- endblock html %}
