{% extends "index.html" %}
{%- block meta %}
  {%- set g_is_article = true %}
{%- endblock meta %}
{% block main %}
<article>
  <!-- Begin Page Start inject -->
  {% include "injects/page_start.html" ignore missing %}
  <!-- End Page Start inject -->

  <header class="mb-16">
    <h1 class="!my-0 pb-2.5">{{ page.title }}</h1>
    {% include "partials/page_info.html" %}
  </header>
  {%- if g_image_url %}
  <figure class="mb-12 mt-0">
    <img
      class="h-auto w-full rounded-lg"
      src="{{ m_url::rel(there=g_image_url, here=g_here, base=g_base) }}"
      {%- if page.extra.cover.alt is defined %}
      alt="{{ page.extra.cover.alt | escape_xml | safe }}"{% endif %}
      {%- if g_image_data.width is defined %}
      width="{{ g_image_data.width | int }}"{% endif %}
      {%- if g_image_data.height is defined %}
      height="{{ g_image_data.height | int }}"{% endif %}
    />
  </figure>
  {%- endif %}
  {%- set page_toc = true %}
  {% include "partials/toc.html" %}
  <!-- Content -->
  <section>{{ page.content | safe }}</section>
  <hr />
  {% include "partials/post_taxonomies.html" %}
  {%- if page.lower or page.higher %}
  {% include "partials/post_navigation.html" %}
  {%- endif %}
  {%- if page.extra.comment | default(value=config.extra.comment) %}
  {% include "partials/comment.html" %}
  {%- endif %}
  <!-- Begin Page End inject -->
  {% include "injects/page_end.html" ignore missing %}
  <!-- End Page End inject -->
</article>
{% endblock main %}
