{%extends display.main%}


{%block page%}
<div class="f fs08 mT25">

  <div class="c s6">
    <a class="dcard {%if not requestGET.detail  %}active{%endif%}" href='{{url.this}}'>
     <div class="statistic">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "List"%}</div>
     </div>
    </a>
   </div>

  <div class="c s6">
    <a class="dcard {%if requestGET.detail %}active{%endif%}" href='{{url.this}}?detail=1'>
     <div class="statistic">
      <div class="value"><i class="sf-indent"></i></div>
      <div class="label">{%trans "Detail"%}</div>
     </div>
    </a>
   </div>

</div>
{%if requestGET.detail%}
{{block('iSurahListDetail')}}
{%else%}
{{block('iSurahList')}}
{%endif%}

{%endblock%}



{%block iSurahList%}
<div class="tblBox fs08 ">


  <table class="tbl1 v1">
    <thead>
      <tr class="fs08">
		<th class="collapsing" data-sort="{{sortLink.index.order}}"><a href="{{sortLink.index.link}}">{%trans "Index"%}</a></th>
		<th data-sort="{{sortLink.name.order}}"><a href="{{sortLink.name.link}}">{%trans "Name"%}</a></th>
		<th data-sort="{{sortLink.type.order}}"><a href="{{sortLink.type.link}}">{%trans "Type"%}</a></th>
		<th data-sort="{{sortLink.ayas.order}}"><a href="{{sortLink.ayas.link}}">{%trans "Aya count"%}</a></th>



      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
		<td><a href="{{url.kingdom}}/s{{value.index}}">{{value.index | fitNumber}}</a></td>
		<td><a href="{{url.kingdom}}/s{{value.index}}">
			<span class="icon-surah{{value.index}}"></span>
			<br>
			{%set myName = value.tname%} <span class="">{%trans myName%}</span>
			</a>
			{%set myEName = value.ename%} <small class="">{%trans myEName%}</small>
		</td>
		<td>{%set myType = value.type%} <span class="">{%trans myType%}</span></td>
		<td>{{value.ayas | fitNumber}} <small>{%trans "Aya"%}</small></td>

      </tr>
      {%endfor%}
    </tbody>
  </table>


</div>
{%endblock%}


{%block iSurahListDetail%}
<div class="tblBox fs08">


  <table class="tbl1 v1">
    <thead>
      <tr class="fs08">
		<th class="collapsing" data-sort="{{sortLink.index.order}}"><a href="{{sortLink.index.link}}">{%trans "Index"%}</a></th>
		<th data-sort="{{sortLink.name.order}}"><a href="{{sortLink.name.link}}">{%trans "Name"%}</a></th>
		<th data-sort="{{sortLink.type.order}}"><a href="{{sortLink.type.link}}">{%trans "Type"%}</a></th>
		<th data-sort="{{sortLink.ayas.order}}"><a href="{{sortLink.ayas.link}}">{%trans "Aya count"%}</a></th>
		<th data-sort="{{sortLink.start.order}}"><a href="{{sortLink.start.link}}">{%trans "Start aya"%}</a></th>


		<th data-sort="{{sortLink.order.order}}"><a href="{{sortLink.order.link}}">{%trans "Order"%}</a></th>

		<th data-sort="{{sortLink.word.order}}"><a href="{{sortLink.word.link}}">{%trans "Word count"%}</a></th>
		<th data-sort="{{sortLink.theletter.order}}"><a href="{{sortLink.theletter.link}}">{%trans "The letter"%}</a></th>
		<th data-sort="{{sortLink.startjuz.order}}"><a href="{{sortLink.startjuz.link}}">{%trans "Juz"%}</a></th>

		<th data-sort="{{sortLink.startpage.order}}"><a href="{{sortLink.startpage.link}}">{%trans "Page"%}</a></th>
		{%if perm_su()%}
		<th></th>
		{%endif%}


      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
		<td><a href="{{url.kingdom}}/s{{value.index}}">{{value.index | fitNumber}}</a></td>
		<td><a href="{{url.kingdom}}/s{{value.index}}">
			<span class="icon-surah{{value.index}}"></span>
			<br>
			{%set myName = value.tname%} <span class="">{%trans myName%}</span>
			</a>
			{%set myEName = value.ename%} <small class="">{%trans myEName%}</small>
		</td>
		<td>{%set myType = value.type%} <span class="">{%trans myType%}</span></td>
		<td>{{value.ayas | fitNumber}} <small>{%trans "Aya"%}</small></td>
		<td>{%if value.start%}<a href="{{url.kingdom}}/a{{value.start}}">{{value.start | fitNumber}}</a>{%else%}{{value.start |fitNumber}}{%endif%}</td>



		<td>{{value.order | fitNumber}}</td>
		<td>{{value.word | fitNumber}}</td>
		<td>{{value.theletter | fitNumber}}</td>
		<td>
			<a href="{{url.kingdom}}/j{{value.startjuz}}">{{value.startjuz | fitNumber}} </a>
			{%if value.endjuz != value.startjuz%} -  <a href="{{url.kingdom}}/j{{value.endjuz}}">{{value.endjuz | fitNumber}}</a>{%endif%}
		</td>
		<td>
			<a href="{{url.kingdom}}/p{{value.startpage}}">{{value.startpage | fitNumber}}</a>
			 {%if value.endpage != value.startpage%} - <a href="{{url.kingdom}}/p{{value.endpage}}">{{value.endpage | fitNumber}}</a>{%endif%}
		</td>
		{%if perm_su()%}
		<th>
			<i class="sf-star {%if myFav[value.index]%}fc-yellow{%else%}fc-mute{%endif%}"
				data-ajaxify
				data-action='{{url.kingdom}}/a/fav/add'
				action='{{url.kingdom}}/a/fav/add'
				href='{{url.kingdom}}/a/fav/add'
				data-method='post'
				data-data='{"sura" : "{{value.index}}", "type": "sura"}'>
				</i>
		</th>
		{%endif%}
      </tr>
      {%endfor%}
    </tbody>
  </table>


</div>
{%endblock%}
