{%extends 'content_lms/group/layout.html'%}



{%block pageContent%}

    {%if questionList%}
    <form method="post" class="cbox">
        <input type="hidden" name="ActionType" value="answer">
        {%for key, value in questionList%}
        <div class="mB20">
          <div class="msg info2 txtB pTB5 mB5">{{(key + 1) | fitNumber}}. {{value.title}}</div>

          <div class="f">
            <div class="radio3 mB5 pRa5 {%if value.longopt%}c6 s12{%else%}c s6{%endif%}">
              <input type="radio" name="answer_{{value.id}}" value="1" id="ianswer1_{{value.id}}">
              <label class="ovh" for="ianswer1_{{value.id}}">{{value.opt1}}</label>
              {%if value.opt1file%}
                  {%include 'content_lms/level/exam/fileDetector.html' with {'myUrl': value.opt1file}%}
              {%endif%}
            </div>

            <div class="radio3 mB5 pRa5 {%if value.longopt%}c6 s12{%else%}c s6{%endif%}">
              <input type="radio" name="answer_{{value.id}}" value="2" id="ianswer2_{{value.id}}">
              <label class="ovh" for="ianswer2_{{value.id}}">{{value.opt2}}</label>
              {%if value.opt2file%}
                  {%include 'content_lms/level/exam/fileDetector.html' with {'myUrl' : value.opt2file}%}
              {%endif%}
            </div>
            {%if value.opt3%}
            <div class="radio3 mB5 pRa5 {%if value.longopt%}c6 s12{%else%}c s6{%endif%}">
              <input type="radio" name="answer_{{value.id}}" value="3" id="ianswer3_{{value.id}}">
              <label class="ovh" for="ianswer3_{{value.id}}">{{value.opt3}}</label>
              {%if value.opt3file%}
                  {%include 'content_lms/level/exam/fileDetector.html' with {'myUrl' : value.opt3file}%}
              {%endif%}
            </div>
            {%endif%}
            {%if value.opt4%}
            <div class="radio3 mB5 {%if value.longopt%}c6 s12{%else%}c s6{%endif%}">
              <input type="radio" name="answer_{{value.id}}" value="4" id="ianswer4_{{value.id}}">
              <label class="ovh" for="ianswer4_{{value.id}}">{{value.opt4}}</label>
              {%if value.opt4file%}
                  {%include 'content_lms/level/exam/fileDetector.html' with {'myUrl' : value.opt4file}%}
              {%endif%}
            </div>
            {%endif%}

          </div>
        </div>
        <hr style="border-top-style:dashed;border-top-width:2px;">

        {%endfor%}
        <div class="f justify-center">
          <button class="c4 s12 btn primary mTB20 lg">{%trans "Save"%}</button>
        </div>
    </form>
    {%else%}
    <p class="msg danger fs20 txtC">{%trans "We do not have question to ask from you!"%}</p>
    {%if false%}<a href="{{url.here}}/group?id={{loadLevel.lm_group_id}}" class="btn block outline mT50 fs20 info ">{%trans "Back to level list"%}</a>{%endif%}
    <a class="block btn info mT50" href="{{url.this}}/next?id={{loadLevel.id}}">{%trans "Next"%} <span class="pRa10 sf-fast-forward"></span></a>

    {%endif%}


{%endblock%}


