{%extends 'content_a/fav/layout.html'%}



{%block pageContent%}

  {{block('favList')}}
{%endblock%}




{%block favList%}


{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlTable%}
  <table class="tbl1 v1 fs11">
    <thead>
      <tr>

        <th>{%trans "Favorites"%}</th>
        <th>{%trans "Description"%}</th>
        <th>{%trans "Date and time"%}</th>
        <th>{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>


        <td>
            {%if value.page%} <a href="{{url.kingdom}}/p{{value.page}}">{%trans "Page"%} <b>{{value.page | fitNumber}}</b></a>{%endif%}
            {%if value.sura%} <a href="{{url.kingdom}}/s{{value.sura}}">{%trans "Sura"%} <b>{{value.sura | fitNumber}}</b></a>{%endif%}
            {%if value.aya%} <a href="{{url.kingdom}}/s{{value.sura}}/{{value.aya}}">{%trans "Aya"%} <b>{{value.aya | fitNumber}}</b></a>{%endif%}
        </td>
        <td>
          <form method="post" autocomplete="off" action="{{url.this}}/add">
            <input type="hidden" name="id" value="{{value.id}}">
            <input type="hidden" name="mode" value="edit">
            <div class="input">
              <input type="text" name="desc" value="{{value.desc}}" placeholder='{%trans "Description"%}' maxlength="200" minlength="1">
              <button class="addon btn info2" type="submit">{%trans "Save"%}</button>
            </div>
          </form>

        </td>
        <td class="collapsing">
          {{value.datecreated | dt('human', 'year')}}
        </td>
        <td class="collapsing">
          <div data-confirm data-data='{"action" : "remove", "id": "{{value.id}}"}' class="badge danger">{%trans "Remove"%}</div>
        </td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} {%trans "No favorites added"%}</p>
{%endblock%}



