{%extends 'content_m/layout.html'%}




{%block pageContent%}
  <div class="f">
    {%if perm('mGroupView')%}<div class="c4 s12">{{block('bLearngroup')}}</div>{%endif%}
    {%if perm('mLevelView')%}<div class="c4 s12">{{block('bLearnleved')}}</div>{%endif%}
    {%if perm('mMistakeView')%}<div class="c4 s12">{{block('bMistake')}}</div>{%endif%}
    {%if perm('mAudioFileView')%}<div class="c4 s12">{{block('bReading')}}</div>{%endif%}
    {%if perm('mKhatmView')%}<div class="c4 s12">{{block('bKhatm')}}</div>{%endif%}
    {%if perm('mMagConnectView') %}<div class="c4 s12">{{block('Bmagazine')}}</div>{%endif%}


  </div>
{%endblock%}

{%block bLearnleved%}
<a class="dcard x2" href='{{url.here}}/level'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-grid-1"></i></div>
  <div class="label">{%trans "Level list"%}</div>
 </div>
</a>
{%endblock%}




{%block bKhatm%}
<a class="dcard x2" href='{{url.here}}/khatm'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-bookmark-o"></i></div>
  <div class="label">{%trans "Khatm list"%}</div>
 </div>
</a>
{%endblock%}


{%block bMistake%}
<a class="dcard x2" href='{{url.here}}/mistake'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-bolt"></i></div>
  <div class="label">{%trans "Mistake list"%}</div>
 </div>
</a>
{%endblock%}



{%block bReading%}
<a class="dcard x2" href='{{url.here}}/reading'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-bullhorn"></i></div>
  <div class="label">{%trans "User audio list"%}</div>
 </div>
</a>
{%endblock%}



{%block bBadge%}
<a class="dcard x2" href='{{url.here}}/badge'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-trophy"></i></div>
  <div class="label">{%trans "Badge list"%}</div>
 </div>
</a>
{%endblock%}




{%block bLearngroup%}
<a class="dcard x2" href='{{url.here}}/group'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-info"></i></div>
  <div class="label">{%trans "Group list"%}</div>
 </div>
</a>
{%endblock%}


{%block Baudiobank%}
<a class="dcard x2" href='{{url.here}}/audiobank'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-music"></i></div>
  <div class="label">{%trans "Audio bank"%}</div>
 </div>
</a>
{%endblock%}



{%block Bmagazine%}
<a class="dcard x2" href='{{url.here}}/mag'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-book"></i></div>
  <div class="label">{%trans "Magazine"%}</div>
 </div>
</a>
{%endblock%}
