{%extends 'content_m/layout.html'%}








{%block pageContent%}

{%include 'content_m/khatm/pageSteps.html'%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox22%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th data-sort='{{sortLink.title.order}}'><a href="{{sortLink.title.link}}">{%trans "Title"%}</a></th>
        <th data-sort='{{sortLink.niyat.order}}'><a href="{{sortLink.niyat.link}}">{%trans "Niyat"%}</a></th>
        <th data-sort='{{sortLink.type.order}}'><a href="{{sortLink.type.link}}">{%trans "Type"%}</a></th>
        <th data-sort='{{sortLink.range.order}}'><a href="{{sortLink.range.link}}">{%trans "Range"%}</a></th>
        <th data-sort='{{sortLink.repeat.order}}'><a href="{{sortLink.repeat.link}}">{%trans "Repeat"%}</a></th>
        <th data-sort='{{sortLink.sura.order}}'><a href="{{sortLink.sura.link}}">{%trans "Surah"%}</a></th>
        <th data-sort='{{sortLink.privacy.order}}'><a href="{{sortLink.privacy.link}}">{%trans "Privacy"%}</a></th>
        <th data-sort='{{sortLink.status.order}}'><a href="{{sortLink.status.link}}">{%trans "Status"%}</a></th>
        {%if perm('mKhatmEdit')%}<th>{%trans "Action"%}</th>{%endif%}
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='deleted'%} class='negative' {%else%} class='positive' {%endif%}>

        <td>
          <div>{{value.title}}</div>
        </td>
        <td>{{value.niyat}}</td>

        <td><a href="{{url.this}}?type={{value.type}}">{{value.t_type}}</a></td>
        <td><a href="{{url.this}}?range={{value.range}}">{{value.t_range}}</a></td>
        <td>
          <div><a href="{{url.this}}?repeat={{value.repeat}}">{{value.repeat | fitNumber}}</a></div>
        </td>
        <td><a href="{{url.this}}?sura={{value.sura}}"><span class="icon-surah{{value.sura}}"></span>{{value.sura | fitNumber}}</a></td>
        <td><a href="{{url.this}}?privacy={{value.privacy}}">{{value.t_privacy}}</a></td>
        <td><a href="{{url.this}}?status={{value.status}}">{{value.tstatus}}</a></td>

        {%if perm('mKhatmEdit')%}
          <td class="collapsing">
           <a href="{{url.this}}/edit?id={{value.id}}" class="btn info">{%trans "Edit"%}</a>
          </td>
        {%endif%}
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new khatm!"%}</a></p>
{%endblock%}




{%block pageContent22%}

{%if dataTable%}
<div class="cbox">
  {%for key, value in dataTable%}
  <div class="msg f">
    <div class="cauto txtB s12">{{value.title}}</div>
    <div class="c s12">{{value.niyat}}</div>
    <div class="c s12">{{value.ttype}}</div>
    <div class="c s12">{{value.trange}}</div>
    <div class="c s12">{{value.tprivacy}}</div>
    <div class="c s12">{{value.repeat | fitNumber}}</div>
    <div class="c s12">{{value.tstatus}}</div>
    <div class="c s12">{{value.sura}}</div>
    <div class="c s12"><div data-confirm data-data='{"type": "remove", "id" : "{{value.id}}"}' class="btn warn xs">{%trans "Cancel"%}</div></div>
    <div class="c s12"><a href="{{url.this}}/start/{{value.id}}" class="btn success">{%trans "Start"%}</a></div>
  </div>
  {%endfor%}
</div>

{%else%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new khatm!"%}</a></p>

{%endif%}


{%endblock%}
