*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    max-width: 100%;
}

.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
    font-size: 30px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:15px;
     }
    .whatsapp_float {
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
.whatsapp_float:hover{
    box-shadow: 1px 1px 8px #0e9642!important; 
    color: white;  
}



.slidee{
    background-color: white!important;
    display: none;
    border-radius: 20px!important;
    border: 2px solid white!important;

} 



.new{

    display: none;
    
   
}

.rounded-lg{
    border-radius: 1rem !important;
}



.btn-registration{
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    border-radius: 20px;
    box-shadow: -2px -1px 7px 2px rgba(236, 213, 213, 0.75);
    font-size: 18px;
}
.btn-registration:hover{
    background-color: lightskyblue!important; 
    box-shadow: 1px 1px 8px #888888!important;
    border-radius: 20px!important;
    
    
}

.nav-item {
    font-size: 18px;
    font-family: sans-serif;
}
.nav-item:hover{
     background-color: rgb(188, 224, 233); 
     border-radius: 4px;
  
}

.fee-cardone{
    font-size: 30px;

}
.dayone
{
    font-size: 14.5px;
}
.fee-card{
    font-size: 28px;
}
.dayss{
    font-size: 15px;
}

.day{
    

    color: goldenrod;
}


.btn-1:hover{
    background: transparent;
    
    color: black;
}

.footer-link:hover{
    cursor: pointer!important;
    color: rgb(125, 202, 202)!important;
}

